<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đổi mật khẩu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<section class="container">

    <!--    <c:if test="${not empty mess}">-->
    <!--        <div class="alert alert-success alert-dismissible fade show" role="alert">-->
    <!--            <strong>${mess}</strong>-->
    <!--            <a class="btn-close" data-bs-dismiss="alert" aria-label="Close"-->
    <!--               style="margin: 0"></a>-->
    <!--        </div>-->
    <!--    </c:if>-->

    <!--    <c:if test="${not empty err}">-->
    <!--        <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
    <!--            <strong>${err}</strong>-->
    <!--            <a class="btn-close" data-bs-dismiss="alert" aria-label="Close"-->
    <!--               style="margin: 0"></a>-->
    <!--        </div>-->
    <!--    </c:if>-->

    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${mess}" th:text="${mess}">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${err}" th:text="${err}">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Đổi mật khẩu</h5>
                            <p class="mb-2">Nhập mật khẩu và Email để đổi mật khẩu</p>
                        </div>
                        <form method="post" action="/change-pass-post" onsubmit="return validateSubmitC()">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input
                                        type="text"
                                        id="email"
                                        class="form-control"
                                        name="email"
                                        placeholder="Nhập Email"
                                />
                                <span id="email-error" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="code" class="form-label">Mã xác nhận</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Nhập Mã Xác Nhận" id="code"
                                           name="code">
                                    <button class="btn btn-outline-secondary" type="button"
                                            onclick="validateEmailC()">
                                        Nhận Mã
                                    </button>
                                </div>
                                <span id="code-error" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="currentPass" class="form-label">Current Password</label>
                                <input
                                        type="password"
                                        id="currentPass"
                                        class="form-control"
                                        placeholder="Nhập Password Hiện Tại"
                                        name="currentPass"
                                />
                                <span id="currentPass-error" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="newPass" class="form-label">New Password</label>
                                <input
                                        type="password"
                                        id="newPass"
                                        class="form-control"
                                        placeholder="Nhập Password Mới"
                                        name="newPass"
                                />
                                <span id="newPass-error" class="error"></span>
                            </div>
                            <div class="mb-3">
                                <label for="reNewPass" class="form-label">Confirm Password</label>
                                <input
                                        type="password"
                                        id="reNewPass"
                                        class="form-control"
                                        placeholder="Nhập lại Password Mới"
                                        name="reNewPass"
                                />
                                <span id="reNewPass-error" class="error"></span>
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Đổi mật khẩu
                                </button>
                            </div>
                            <span>Quên mật khẩu?</span><a style="margin-left: 10px" href="/forgot">Đặt lại mật khẩu</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="/admin/assets/js/change-pass.js"></script>
</body>
</html>