<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link href="/admin/images/nova.png" rel="icon">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../login/css/main.css">
    <!--===============================================================================================-->
    <style>
        .text-login {
            font-size: 40px;
        }

        * {
            font-family: "Poppins", sans-serif !important;
        }

        .error {
            /*margin-left: 10px;*/
            color: red;
        }

    </style>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('../login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="/reset-pass" method="post"
                  onsubmit="return validateSubmit()">
					<span class="login100-form-title p-b-49 text-login">
						Quên mật khẩu
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <div class="row">
                        <div class="col-3">
                            <span class="label-input100">Email</span>
                        </div>
                        <div class="col-9" style="text-align: right;">
                            <span id="email-error" class="error"></span>
                        </div>
                    </div>
                    <input class="input100" id="email" type="email" name="email" placeholder="Nhập Email">
                    <span class="focus-input100" data-symbol="&#x2709;"></span>
                </div>

                <!--                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">-->
                <!--                    <div class="row">-->
                <!--                        <div class="col-3">-->
                <!--                            <span class="label-input100">Email</span>-->
                <!--                        </div>-->
                <!--                        <div class="col-9" style="text-align: right;">-->
                <!--                            <span id="email-error" class="error"></span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <input class="input100" id="email" type="text" name="email" placeholder="Nhập email">-->
                <!--                    <span class="focus-input100" data-symbol="&#x2709;"></span>-->
                <!--                </div>-->

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <div class="row">
                        <div class="col-4">
                            <span class="label-input100">Mã xác nhận</span>
                        </div>
                        <div class="col-8" style="text-align: right;">
                            <span id="code-error" class="error"></span>
                        </div>
                    </div>
                    <div class="input100">
                        <span style="::after{margin: 4px}" class="focus-input100" data-symbol="&#x266F;"></span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhập mã xác nhận" id="code"
                                   name="code" style="margin-top: 11px;border: none;padding: 0px">
                            <button class="btn btn-outline-secondary" type="button" onclick="validateEmail()"
                                    style="margin-top: 11px">
                                Nhận Mã
                            </button>
                        </div>
                    </div>
                </div>
                <!--                    <input class="input100" id="sdt" type="text" name="sdt" placeholder="Nhập số điện thoại">-->

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <div class="row">
                        <div class="col-6">
                            <span class="label-input100">Mật khẩu mới</span>
                        </div>
                        <div class="col-6" style="text-align: right;">
                            <span id="newPass-error" class="error"></span>
                        </div>
                    </div>
                    <input class="input100" id="newPassword" type="password" name="newPassword"
                           placeholder="Nhập mật khẩu mới">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <div class="row">
                        <div class="col-5">
                            <span class="label-input100">Xác nhận mật khẩu</span>
                        </div>
                        <div class="col-7" style="text-align: right;">
                            <span id="rePassword-error" class="error"></span>
                        </div>
                    </div>
                    <input class="input100" id="rePassword" type="password" name="rePassword"
                           placeholder="Nhập lại mật khẩu">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Đặt lại mật khẩu
                        </button>
                    </div>
                </div>
                <div class="txt1 text-center mt-4">
                    <div>
                        Không có tài khoản?
                        <span>
							<a href="/register">Đăng ký</a>
						</span>
                    </div>
                    <div>
                        Bạn đến nhầm nơi?
                        <span>
							<a href="/home">Trang Chủ</a>
						</span>
                    </div>
                </div>
            </form>
        </div>

        <div th:if="${mess}" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
             style=" position: fixed;bottom: 20px;right: 20px;">
            <div class="toast-header">
                <img src="/admin/images/nova.png" class="rounded me-2" alt="..." width="20px" height="20px">
                <strong class="me-auto">Nova Store</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${mess}">
            </div>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>
<script src="/admin/assets/js/forgor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!--===============================================================================================-->
<!--<script src="vendor/jquery/jquery-3.2.1.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="vendor/animsition/js/animsition.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="vendor/bootstrap/js/popper.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="vendor/select2/select2.min.js"></script>-->
<!--===============================================================================================-->
<!--<script src="vendor/daterangepicker/moment.min.js"></script>-->
<!--<script src="vendor/daterangepicker/daterangepicker.js"></script>-->
<!--===============================================================================================-->
<!--<script src="/admin/vendor/countdowntime/countdowntime.js"></script>-->
<!--===============================================================================================-->
<!--<script src="/admin/assets/js/main.js"></script>-->

</body>
</html>