<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Nova Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--	<link rel="icon" type="image/png" href="../static/login/images/icons/favicon.ico"/>-->
    <!--    <link th:href="@{/login/images/icons/favicon.ico}" rel="icon">-->
    <link th:href="@{/admin/images/nova.png}" rel="icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <!--	<link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{login/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{login/css/main.css}">
    <!--===============================================================================================-->
    <!--    css-->
    <style>
        .text-login {
            font-size: 40px;
        }

        * {
            font-family: "Poppins", sans-serif !important;
        }
    </style>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="/login" method="post">
					<span class="login100-form-title p-b-49">
						Đăng nhập
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Email</span>
                    <input class="input100" id="username" type="text" name="username" placeholder="Nhập email">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" id="password" type="password" name="password" placeholder="Nhập mật khẩu">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="/forget">
                        Quên mật khẩu ?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Đăng nhập
                        </button>
                    </div>
                </div>
                <div class="txt1 text-center mt-4">
                    Chưa có tài khoản ?
                    <span>
                        <a href="/register">Đăng ký</a>
                    </span>
                </div>
            </form>
        </div>
        <div th:if="${mess}" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
             style=" position: fixed;bottom: 20px;right: 20px;">
            <div class="toast-header">
                <img src="/admin/images/nova.png" class="rounded me-2" alt="..." width="20px" height="20px">
                <strong class="me-auto">Nova Store</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${mess}">
            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/bootstrap/js/popper.js"></script>
<script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/daterangepicker/moment.min.js"></script>
<script src="../static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../static/login/js/main.js"></script>

</body>
</html>