<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Store</title>
    <link th:href="@{/admin/images/nova.png}" rel="icon">
    <link rel="stylesheet" href="/admin/assets/css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        Thông Tin Cá Nhân
    </h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                       href="#account-general">Thông Tin Chung</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="/change-password">Đổi Mật Khẩu</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#account-info">Địa Chỉ</a>
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-social-links">Social links</a>-->
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-connections">Connections</a>-->
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-notifications">Notifications</a>-->
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <form th:object="${user}">
                            <div class="card-body media align-items-center">
                                <img th:src="@{'/image/account/' + ${user.id}}" alt
                                     class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Tải Ảnh Mới
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Đặt Lại</button>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Tên</label>
                                    <input name="name" type="text" class="form-control" th:field="*{name}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input name="email" type="text" class="form-control mb-1" th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Số Điện Thoại</label>
                                    <input type="text" class="form-control mb-1" th:field="*{phoneNumber}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày Sinh</label>
                                    <input placeholder="Choose your Birthday" type="date" id="birthday"
                                           class="form-control"
                                           name="birthday" th:field="*{birthday}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="account-info">
                        <form th:action="@{/user/address}" method="post">
                            <div class="card-body pb-2">
                                <div class="row no-gutters">
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="customerName" class="small text-muted mb-1">Tên</label>
                                            <input type="text" class="form-control form-control-sm"
                                                   name="customerName" id="customerName"/>
                                            <span id="nameError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="phone-number" class="small text-muted mb-1">Số điện
                                                thoại</label>
                                            <input type="text" class="form-control form-control-sm"
                                                   name="phoneNumber" id="phone-number">
                                            <span id="phoneNumberError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="specific-address" class="small text-muted mb-1">Số nhà,
                                                Đường</label>
                                            <input type="text" class="form-control form-control-sm"
                                                   name="specificAddress" id="specific-address">
                                            <span id="specificAddressError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="city" class="small text-muted mb-1">Tỉnh Thành</label>
                                            <select class="form-control form-control-sm" name="city" id="city">
                                                <option value="" selected>Tỉnh thành</option>
                                            </select>
                                            <span id="cityError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="district" class="small text-muted mb-1">QUẬN HUYỆN</label>
                                            <select class="form-control form-control-sm" name="district"
                                                    id="district">
                                                <option value="" selected>Quận huyện</option>
                                            </select>
                                            <span id="districtError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 pr-sm-2">
                                        <div class="form-group">
                                            <label for="ward" class="small text-muted mb-1">PHƯỜNG XÃ</label>
                                            <select class="form-control form-control-sm" name="ward" id="ward">
                                                <option value="" selected>Phường xã</option>
                                            </select>
                                            <span id="wardError" class="small text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mt-3">
                                <button type="submit" class="btn btn-primary">Thêm Địa Chỉ</button>&nbsp;
                            </div>
                        </form>
                        <hr class="border-light m-0">
                        <div class="card-body pb-2">
                            <h6 class="mb-4">Danh Sách Địa Chỉ</h6>
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Tỉnh Thành</th>
                                    <th scope="col">Quận Huyện</th>
                                    <th scope="col">Phường Xã</th>
                                    <th scope="col">Địa Chỉ</th>
                                    <th scope="col">Số Điện Thoại</th>
                                    <th scope="col">Chức Năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${defaultAddress}">
                                    <td th:text="${defaultAddress.customerName}"></td>
                                    <td th:text="${defaultAddress.city}"></td>
                                    <td th:text="${defaultAddress.district}"></td>
                                    <td th:text="${defaultAddress.ward}"></td>
                                    <td th:text="${defaultAddress.specificAddress}"></td>
                                    <td th:text="${defaultAddress.phoneNumber}"></td>
                                    <td>
                                        <a type="button" th:href="@{'/user/makeDefault/' + ${defaultAddress.id}}"
                                           class="btn btn-outline-secondary disabled" role="button"
                                           aria-disabled="true">Mặc Định</a>
                                        <a type="button" th:href="@{'/user/delete/' + ${defaultAddress.id}}"
                                           class="btn btn-outline-danger disabled" role="button"
                                           aria-disabled="true">Xoá</a>
                                    </td>
                                </tr>
                                <tr th:each="x:${lstAddress}">
                                    <td th:text="${x.customerName}"></td>
                                    <td th:text="${x.city}"></td>
                                    <td th:text="${x.district}"></td>
                                    <td th:text="${x.ward}"></td>
                                    <td th:text="${x.specificAddress}"></td>
                                    <td th:text="${x.phoneNumber}"></td>
                                    <td>
                                        <a type="button" th:href="@{'/user/makeDefault/' + ${x.id}}"
                                           class="btn btn-secondary">Mặc Định</a>
                                        <a type="button" th:href="@{'/user/delete/' + ${x.id}}" class="btn
                                        btn-danger">Xoá</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js}"></script>
<script>
    const host = "https://provinces.open-api.vn/api/";

    // var defaultCity = document.getElementById('defaultCity').value;
    // var defaultDistrict = document.getElementById('defaultDistrict').value;
    // var defaultWard = document.getElementById('defaultWard').value;

    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "city");
                // $("#city").val(defaultCity).change();
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district");
                // $("#district").val(defaultDistrict).change();
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward");
                // $("#ward").val(defaultWard);
            });
    }

    var renderData = (array, select) => {
        let row = ' <option disable value="">Chọn</option>';
        array.forEach(element => {
            row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#city").change(() => {
        callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");
    });
    $("#district").change(() => {
        callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");
    });
</script>
<!--    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
</body>

</html>