<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Store</title>
    <link th:href="@{/admin/images/nova.png}" rel="icon">
    <link rel="stylesheet" href="/admin/assets/css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        Thông Tin Cá Nhân
    </h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                       href="#account-general">Thông Tin Chung</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="/change-password">Đổi Mật Khẩu</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#account-info">Địa Chỉ</a>
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-social-links">Social links</a>-->
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-connections">Connections</a>-->
                    <!--                    <a class="list-group-item list-group-item-action" data-toggle="list"-->
                    <!--                       href="#account-notifications">Notifications</a>-->
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <form th:object="${user}">

                            <div class="card-body media align-items-center">
                                <img th:src="@{'/image/account/' + ${user.id}}" alt
                                     class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Tải Ảnh Mới
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Đặt Lại</button>
                                    <!--                                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>-->
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Tên</label>
                                    <input name="name" type="text" class="form-control" th:field="*{name}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input name="email" type="text" class="form-control mb-1" th:field="*{email}">
                                    <!--                                <div class="alert alert-warning mt-3">-->
                                    <!--                                    Your email is not confirmed. Please check your inbox.<br>-->
                                    <!--                                    <a href="javascript:void(0)">Resend confirmation</a>-->
                                    <!--                                </div>-->
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Số Điện Thoại</label>
                                    <input type="text" class="form-control mb-1" th:field="*{phoneNumber}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày Sinh</label>
                                    <input placeholder="Choose your Birthday" type="date" id="birthday"
                                           class="form-control"
                                           name="birthday" th:field="*{birthday}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--                    <div class="tab-pane fade" id="account-change-password">-->
                    <!--                        <div class="card-body pb-2">-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Current password</label>-->
                    <!--                                <input type="password" class="form-control">-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">New password</label>-->
                    <!--                                <input type="password" class="form-control">-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Repeat new password</label>-->
                    <!--                                <input type="password" class="form-control">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="tab-pane fade" id="account-info">
                        <div class="card-body pb-2">
                            <div class="row no-gutters">
                                <div class="col-sm-4 pr-sm-2">
                                    <div class="form-group">
                                        <label for="city" class="small text-muted mb-1">TỈNH THÀNH</label>
                                        <select class="form-control form-control-sm" name="city" id="city">
                                            <option value="" selected>Tỉnh thành</option>
                                        </select>
                                        <span id="cityError" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 pr-sm-2">
                                    <div class="form-group">
                                        <label for="district" class="small text-muted mb-1">QUẬN HUYỆN</label>
                                        <select class="form-control form-control-sm" name="district" id="district">
                                            <option value="" selected>Quận huyện</option>
                                        </select>
                                        <span id="districtError" class="small text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="ward" class="small text-muted mb-1">PHƯỜNG XÃ</label>
                                        <select class="form-control form-control-sm" name="ward" id="ward">
                                            <option value="" selected>Phường xã</option>
                                        </select>
                                        <span id="wardError" class="small text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body pb-2">
                            <h6 class="mb-4">Danh Sách Địa Chỉ</h6>
                            <table class="table table-striped table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tỉnh Thành</th>
                                    <th scope="col">Quận Huyện</th>
                                    <th scope="col">Phường Xã</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--                    <div class="tab-pane fade" id="account-social-links">-->
                    <!--                        <div class="card-body pb-2">-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Twitter</label>-->
                    <!--                                <input type="text" class="form-control" value="https://twitter.com/user">-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Facebook</label>-->
                    <!--                                <input type="text" class="form-control" value="https://www.facebook.com/user">-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Google+</label>-->
                    <!--                                <input type="text" class="form-control" value>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">LinkedIn</label>-->
                    <!--                                <input type="text" class="form-control" value>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="form-label">Instagram</label>-->
                    <!--                                <input type="text" class="form-control" value="https://www.instagram.com/user">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="tab-pane fade" id="account-connections">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <button type="button" class="btn btn-twitter">Connect to-->
                    <!--                                <strong>Twitter</strong></button>-->
                    <!--                        </div>-->
                    <!--                        <hr class="border-light m-0">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <h5 class="mb-2">-->
                    <!--                                <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i-->
                    <!--                                        class="ion ion-md-close"></i> Remove</a>-->
                    <!--                                <i class="ion ion-logo-google text-google"></i>-->
                    <!--                                You are connected to Google:-->
                    <!--                            </h5>-->
                    <!--                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"-->
                    <!--                               data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>-->
                    <!--                        </div>-->
                    <!--                        <hr class="border-light m-0">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <button type="button" class="btn btn-facebook">Connect to-->
                    <!--                                <strong>Facebook</strong></button>-->
                    <!--                        </div>-->
                    <!--                        <hr class="border-light m-0">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <button type="button" class="btn btn-instagram">Connect to-->
                    <!--                                <strong>Instagram</strong></button>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="tab-pane fade" id="account-notifications">-->
                    <!--                        <div class="card-body pb-2">-->
                    <!--                            <h6 class="mb-4">Activity</h6>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input" checked>-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">Email me when someone comments on my article</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input" checked>-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">Email me when someone answers on my forum-->
                    <!--                                            thread</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input">-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">Email me when someone follows me</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <hr class="border-light m-0">-->
                    <!--                        <div class="card-body pb-2">-->
                    <!--                            <h6 class="mb-4">Application</h6>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input" checked>-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">News and announcements</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input">-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">Weekly product updates</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                            <div class="form-group">-->
                    <!--                                <label class="switcher">-->
                    <!--                                    <input type="checkbox" class="switcher-input" checked>-->
                    <!--                                    <span class="switcher-indicator">-->
                    <!--                                            <span class="switcher-yes"></span>-->
                    <!--                                            <span class="switcher-no"></span>-->
                    <!--                                        </span>-->
                    <!--                                    <span class="switcher-label">Weekly blog digest</span>-->
                    <!--                                </label>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js}"></script>
    <script>
        const host = "https://provinces.open-api.vn/api/";

        // var defaultCity = document.getElementById('defaultCity').value;
        // var defaultDistrict = document.getElementById('defaultDistrict').value;
        // var defaultWard = document.getElementById('defaultWard').value;

        var callAPI = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data, "city");
                    // $("#city").val(defaultCity).change();
                });
        }
        callAPI('https://provinces.open-api.vn/api/?depth=1');
        var callApiDistrict = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.districts, "district");
                    // $("#district").val(defaultDistrict).change();
                });
        }
        var callApiWard = (api) => {
            return axios.get(api)
                .then((response) => {
                    renderData(response.data.wards, "ward");
                    // $("#ward").val(defaultWard);
                });
        }

        var renderData = (array, select) => {
            let row = ' <option disable value="">Chọn</option>';
            array.forEach(element => {
                row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
            });
            document.querySelector("#" + select).innerHTML = row
        }

        $("#city").change(() => {
            callApiDistrict(host + "p/" + $("#city").find(':selected').data('id') + "?depth=2");
        });
        $("#district").change(() => {
            callApiWard(host + "d/" + $("#district").find(':selected').data('id') + "?depth=2");
        });
    </script>
<!--    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>