<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Promotion Detail Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Promotion Detail</strong>
            </div>
            <!--            Notification-->
            <div th:if="${mess}" class="alert alert-success alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${mess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
            <div class="card-body card-block">
                <form id="promotionDetailForm" th:object="${promotionDetail}" th:action="@{/nova/promotion-detail/add}"
                      method="post" class="form-horizontal">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="form-control-label">Promotion Name</label>
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#productModal">
                                    Xem sản phẩm
                                </button>
                            </div>
                        </div>

                        <!-- Product Modal -->
                        <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
                             aria-labelledby="productModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="productModalLabel">Danh sách sản phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th class="form-control-label">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" id="selectAllCheckbox"> Chọn tất cả
                                                    </label>
                                                </th>
                                                <th class="form-control-label">Name</th>
                                                <th class="form-control-label">Description</th>
                                                <th class="form-control-label">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Loop through all products -->
                                            <tr th:each="product : ${productList}" class="visible-row">
                                                <td>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" th:value="${product.id}"
                                                               th:data-name="${product.name}" name="selectedProducts">
                                                    </label>
                                                </td>
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${product.description}"></td>
                                                <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="confirmSelection()">Xác
                                            nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            var selectAllCheckbox = document.getElementById('selectAllCheckbox');
                            selectAllCheckbox.addEventListener('change', function () {
                                var checkboxes = document.querySelectorAll('input[name="selectedProducts"]');
                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = selectAllCheckbox.checked;
                                });
                            });

                            function confirmSelection() {
                                var selectedCheckboxes = document.querySelectorAll('input[name="selectedProducts"]:checked');

                                var confirmationMessage = "Bạn đã chọn " + selectedCheckboxes.length + " sản phẩm:\n";
                                selectedCheckboxes.forEach(function (checkbox) {
                                    confirmationMessage += "ID: " + checkbox.value + " - Name: " + checkbox.getAttribute('data-name') + "\n";
                                });

                                alert(confirmationMessage);
                            }
                        </script>


                        <!-- Promotion Dropdown -->
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="form-control-label">Promotion Name</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" name="promotion">
                                    <option th:each="x : ${promotionList}" th:value="${x.id}"
                                            th:text="${x.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a th:href="@{/nova/promotion/page}">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-refresh"></i>
                                Mã khuyến mãi
                            </button>
                        </a>
                        <a th:href="@{/nova/product/page}">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-refresh"></i>
                                Sản phẩm
                            </button>
                        </a>
                    </div>

                    <div class="card-footer d-flex">
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pagePromotionDetail.isEmpty()}">
                <strong class="card-title">KHÔNG CÓ DỮ LIỆU</strong>
            </div>
            <div th:if="${not pagePromotionDetail.isEmpty()}">
                <div class="card-header">
                    <strong>CÓ</strong>
                    <strong class="card-title" th:text="${pagePromotionDetail.getTotalElements()}"></strong>
                    <strong class="card-title"> BẢN GHI</strong>
                </div>
                <div class="card-body">
                    <form id="promotionDetailDelete">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Tên khuyến mãi</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Ngày sửa</th>
                                <!--                        <th scope="col">Account Name</th>-->
                                <th scope="col">Function</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="items:${pagePromotionDetail}">
                                <td th:text="${items.id}"></td>
                                <td th:text="${items.product.name}"></td>
                                <td th:text="${items.promotion.name}"></td>
                                <td th:text="${#dates.format(items.createDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td th:text="${#dates.format(items.updateDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td class="d-flex justify-content-center">
                                    <div>
                                        <button th:onclick="clickDelete('promotion-detail', 'promotionDetailDelete', [[${items.id}]])"
                                                type="button" class="btn btn-danger">
                                            <i class="fa-solid fa-trash mr-1"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="d-flex justify-content-center align-items-center">
                        <div th:if="${pagePromotionDetail.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=0&promotiondetailSearch=${promotiondetailSearch}|}">
                                </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getNumber() - 1}&promotiondetailSearch=${promotionNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long"></i></a>
                        </div>
                        <div class="btn btn-dark d-flex">
                            <div th:text="${pagePromotionDetail.getNumber() + 1}"></div>
                            <span>/</span>
                            <div th:text="${pagePromotionDetail.getTotalPages()}"></div>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 lt pagePromotionDetail.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getNumber()+1}&promotiondetailSearch=${promotiondetailSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 lt pagePromotionDetail.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getTotalPages()-1}&promotiondetailSearch=${promotiondetailSearch}|}">
                                <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
