<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Promotion Detail Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 style="font-weight: bold">KHUYẾN MÃI CHI TIẾT</h5>
            </div>
            <div th:if="${mess}">
                <button hidden id="btnSuccess" th:onclick="alertSuccess([[${mess}]])">Click Me</button>
                <script th:inline="javascript">
                    window.onload = function () {
                        var btnSuccess = document.getElementById("btnSuccess");
                        btnSuccess.click();
                    }
                    alertSuccess = (content) => {
                        Swal.fire({
                            title: content,
                            icon: "success",
                            confirmButtonColor: "#0DC149"
                        });
                    }
                </script>
            </div>
            <div th:if="${error}">
                <button hidden id="btnError" th:onclick="alertError1([[${error}]])">Click Me</button>
                <script th:inline="javascript">
                    window.onload = function () {
                        var btnError = document.getElementById("btnError");
                        btnError.click();
                    }
                    alertError1 = (content) => {
                        Swal.fire({
                            title: "Thêm dữ liệu thất bại",
                            text: content,
                            icon: "error",
                            confirmButtonColor: "#d33"
                        });
                    }
                </script>
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
            <div class="card-body card-block">
                <form id="promotionDetailForm" th:object="${promotionDetail}" th:action="@{/nova/promotion-detail/add}"
                      method="post" class="form-horizontal">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="form-control-label">Danh sách sản phẩm</label>
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-dark" data-toggle="modal"
                                        data-target="#productModal">
                                    Xem sản phẩm
                                </button>
                            </div>
                        </div>
                        <!-- Product Modal -->
                        <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
                             aria-labelledby="productModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="productModalLabel">
                                            <i class="fas fa-shopping-bag"></i> Danh sách sản phẩm
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">

                                        <div class="form-row">
                                            <div class="col-md-8 mb-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="searchInput"
                                                           placeholder="Nhập tên sản phẩm">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-search"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <select class="form-control" id="pageSizeSelect">
                                                    <option value="5" selected>5 sản phẩm</option>
                                                    <option value="10">10 sản phẩm</option>
                                                    <option value="20">20 sản phẩm</option>
                                                    <option value="all">Hiển thị tất cả</option>
                                                </select>
                                            </div>
                                        </div>
                                        <table id="productTable" class="table">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th class="form-control-label">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" id="selectAllCheckbox">
                                                    </label>
                                                </th>
                                                <th class="form-control-label">Ảnh</th>
                                                <th class="form-control-label">Mã</th>
                                                <th class="form-control-label">Tên</th>
                                                <th class="form-control-label">Khoảng giá</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product : ${productList}" class="visible-row">
                                                <td>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" th:value="${product.id}"
                                                               th:data-name="${product.name}" name="selectedProducts">
                                                    </label>
                                                </td>
                                                <td style="padding: 10px;">
                                                    <img th:src="@{'/image/product/' + ${product.id}}"
                                                         style="width: 50px; height: 50px; display: block; margin: 0 auto; border-radius: 8px">
                                                </td>
                                                <td th:text="${product.code}"></td>
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${#numbers.formatDecimal(product.getMinProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'} + ' - ' + ${#numbers.formatDecimal(product.getMaxProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="fas fa-times"></i> Đóng
                                        </button>
                                        <button type="button" class="btn btn-primary" onclick="confirmSelection()">
                                            <i class="fas fa-check"></i> Xác nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $("#pageSizeSelect").val("5");
                                updateDisplayRows();
                            });

                            document.getElementById("pageSizeSelect").addEventListener("change", function () {
                                updateDisplayRows();
                            });

                            function updateDisplayRows() {
                                var pageSize = $("#pageSizeSelect").val();
                                var allRows = document.querySelectorAll('#productTable tbody tr.visible-row');
                                var totalRows = allRows.length;

                                allRows.forEach(function (row, index) {
                                    if (pageSize === "all" || index < parseInt(pageSize)) {
                                        row.style.display = "";
                                    } else {
                                        row.style.display = "none";
                                    }
                                });
                            }

                            function searchProducts() {
                                var input, filter, table, tr, td, i, txtValue;
                                input = document.getElementById("searchInput");
                                filter = input.value.toUpperCase();
                                table = document.getElementById("productTable");
                                tr = table.getElementsByTagName("tr");

                                for (i = 0; i < tr.length; i++) {
                                    td = tr[i].getElementsByTagName("td")[3];
                                    if (td) {
                                        txtValue = td.textContent || td.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            tr[i].style.display = "";
                                        } else {
                                            tr[i].style.display = "none";
                                        }
                                    }
                                }
                            }

                            document.getElementById("searchInput").addEventListener("input", searchProducts);

                            var selectAllCheckbox = document.getElementById('selectAllCheckbox');
                            selectAllCheckbox.addEventListener('change', function () {
                                var checkboxes = document.querySelectorAll('input[name="selectedProducts"]');
                                checkboxes.forEach(function (checkbox) {
                                    checkbox.checked = selectAllCheckbox.checked;
                                });
                            });

                            function confirmSelection() {
                                var selectedCheckboxes = document.querySelectorAll('input[name="selectedProducts"]:checked');

                                var confirmationMessage = "Bạn đã chọn " + selectedCheckboxes.length + " sản phẩm:\n";
                                selectedCheckboxes.forEach(function (checkbox) {
                                    confirmationMessage += "ID: " + checkbox.value + " - Name: " + checkbox.getAttribute('data-name') + "\n";
                                });

                                alert(confirmationMessage);
                            }
                        </script>

                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="form-control-label">Danh sách giảm giá</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" style="width: 400px" name="promotion" th:if="${promotionList != null and not #lists.isEmpty(promotionList)}">
                                    <option th:each="x : ${promotionList}" th:value="${x.id}" th:text="${x.name}"></option>
                                </select>

                                <span th:unless="${promotionList != null and not #lists.isEmpty(promotionList)}">Không có chương trình khuyến mãi</span>
                            </div>
                        </div>
                    </div>

                    <div class=" d-flex">
                        <div>
                            <button  onclick="clickAdd('promotion-detail', 'promotionDetailForm')"
                                    type="button" class="btn btn-dark mr-2" >
                                <i class="fa-solid fa-square-plus "></i>
                                Thêm mới
                            </button>
                            <a th:href="@{/nova/promotion/page}">
                                <button type="button" class="btn btn-warning"><i
                                        class="fa-solid fa-circle-left mr-1 "></i>
                                    Khuyến mãi
                                </button>
                            </a>
                        </div>

                        <script th:inline="javascript">
                            checkSanPham = () => {
                                var selectedProducts = document.querySelectorAll("[name='selectedProducts']:checked");
                                if (selectedProducts.length === 0) {
                                    swal("Lỗi", "Vui lòng chọn ít nhất một sản phẩm.", "error");
                                    return false;
                                }
                                var promotionSelect = document.querySelector("[name='promotion']");
                                if (!promotionSelect) {
                                    swal("Lỗi", "Danh sách chương trình khuyến mãi không khả dụng.", "error");
                                    return false;
                                }

                                // Kiểm tra xem danh sách promotion có trống hay không
                                if (promotionSelect.options.length === 0) {
                                    swal("Lỗi", "Không có chương trình khuyến mãi.", "error");
                                    return false;
                                }

                                return true;
                            }

                            validate = () => {
                                return checkSanPham();
                            }

                            clickAdd = (entity, idForm) => {
                                if (validate()) {
                                    Swal.fire({
                                        title: "Thêm dữ liệu",
                                        text: "Bạn có muốn thêm dữ liệu không ?",
                                        icon: "question",
                                        showCancelButton: true,
                                        confirmButtonColor: "#0DC149",
                                        cancelButtonColor: "#d33",
                                        confirmButtonText: "Có",
                                        cancelButtonText: "Không",
                                        allowOutsideClick: false
                                    }).then((add) => {
                                        if (add.isConfirmed) {
                                            document.getElementById(idForm).action = '/nova/' + entity + '/add'
                                            document.getElementById(idForm).method = 'post'
                                            document.getElementById(idForm).submit()
                                        }
                                    });
                                }

                            }
                        </script>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pagePromotionDetail.isEmpty()}">
                <strong class="card-title">KHÔNG CÓ DỮ LIỆU</strong>
            </div>
            <div th:if="${not pagePromotionDetail.isEmpty()}">
                <div class="card-header">
                    <strong>CÓ</strong>
                    <strong class="card-title" th:text="${pagePromotionDetail.getTotalElements()}"></strong>
                    <strong class="card-title"> BẢN GHI</strong>
                </div>
                <div class="card-body">
                    <form id="promotionDetailDelete">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Tên giảm giá</th>
                                <th>Phần trăm giảm</th>
                                <th>Giá ban đầu</th>
                                <th>Giá sau giảm</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${pagePromotionDetail}">
                                <td style="padding: 10px;">
                                    <img th:src="@{'/image/product/' + ${item.productId}}"
                                         style="width: 50px; height: 50px; display: block; margin: 0 auto; border-radius: 8px">
                                </td>
                                <td th:text="${item.productCode}"></td>
                                <td th:text="${item.productName}"></td>
                                <td th:text="${item.promotionName}"></td>
                                <td th:text="${item.promotionValue}+ '%'"></td>
                                <td th:text="${#numbers.formatDecimal(item.minProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫' + ' - ' + #numbers.formatDecimal(item.maxProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                                <td th:text="${#numbers.formatDecimal(item.minProductPriceDiscount, 0, 'COMMA', 0, 'POINT') + ' ₫' + ' - ' + #numbers.formatDecimal(item.maxProductPriceDiscount, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                                <td th:text="${#dates.format(item.promotionStartDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${#dates.format(item.promotionEndDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td class="d-flex justify-content-center">
                                    <div>
                                        <button th:onclick="clickDelete('promotion-detail', 'promotionDetailDelete', [[${item.promotionDetailId}]])"
                                                type="button" class="btn btn-danger">
                                            Hủy
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="d-flex justify-content-center align-items-center">
                        <div th:if="${pagePromotionDetail.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=0&promotiondetailSearch=${promotiondetailSearch}|}">
                                </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getNumber() - 1}&promotiondetailSearch=${promotionNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long"></i></a>
                        </div>
                        <div class="btn btn-dark d-flex">
                            <div th:text="${pagePromotionDetail.getNumber() + 1}"></div>
                            <span>/</span>
                            <div th:text="${pagePromotionDetail.getTotalPages()}"></div>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 lt pagePromotionDetail.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getNumber()+1}&promotiondetailSearch=${promotiondetailSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                        </div>
                        <div th:if="${pagePromotionDetail.getNumber() + 1 lt pagePromotionDetail.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pagePromotionDetail.getTotalPages()-1}&promotiondetailSearch=${promotiondetailSearch}|}">
                                <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
