<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Cart Detail </title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Promotion Detail</strong>
            </div>
            <div class="card-body card-block">
                <form id="promotionDetailUpdate"  th:object="${promotionDetail}" th:action="@{/nova/promotion_detail/update/{id}(id=${promotionDetail.id})}"
                      method="post" class="form-horizontal" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" th:field="*{name}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label  class=" form-control-label">Promotion</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="product" name="product">
                                <option th:each="product : ${productList}" th:value="${product.id}"
                                        th:selected="${product.id == promotionDetail.product.id}" th:text="${product.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label  class=" form-control-label">Promotion</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="promotion" name="promotion">
                                <option th:each="promotion : ${promotionList}" th:value="${promotion.id}"
                                        th:selected="${promotion.id == promotionDetail.promotion.id}" th:text="${promotion.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button onclick="clickUpdate('promotionDetailUpdate')" type="button" class="btn btn-info"><i class="fa-solid fa-eye mr-1"></i>
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
</div>
</body>
</html>
