<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Detail Account</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>ACCOUNT</strong>
            </div>
            <div class="card-body card-block">
                <form th:object="${account}" th:action="@{/nova/account/update/{id}(id=${account.id})}"
                      method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Account name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" th:field="*{name}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="password" class=" form-control-label">Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" id="password" th:field="*{password}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="birthday" class=" form-control-label">Birthday</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose your Birthday" type="date" id="birthday" class="form-control"
                                       name="birthday" value="" th:field="*{birthday}">
                                <!--                                <label for="birthday">Try me...</label>-->
                                <!--                                <i class="fas fa-calendar input-prefix"></i>-->
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="email" class=" form-control-label">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="email" th:field="*{email}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="phoneNumber" class=" form-control-label">PhoneNumber</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="importFile" class=" form-control-label">Avatar</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="importFile" name="avt"
                                           accept="image/*" onchange="setFileName()">
                                    <label class="custom-file-label" for="importFile">Choose
                                        Avatar</label>
                                </div>
                            </div>
                            <!--                            <input type="text" id="avatar" name="avatar" class="form-control">-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-md-3">
                            <label class="form-control-label" for="roleId">Role</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select id="roleId" class="form-control" name="roleId">
<!--                                <option value="">Select option</option>-->
                                <option th:value="${x.id}" th:each="x: ${lstRole}"
                                        th:text="${x.name}" th:selected="(*{role.id} == ${x.id})"></option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>
                            Update
                        </button>
                        <a href="/nova/account/page" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
