<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>THƯƠNG HIỆU</strong>
            </div>
            <div th:if="${mess}" class="alert alert-success alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${mess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form id="brandForm" class="form-horizontal">
                    <div class="card-footer">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class="font-weight-bold form-control-label">Tên thương hiệu</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="name" name="name" class="form-control"
                                                                oninput="onInputText('errorName')">
                                <small class="" style="color: red"
                                       id="errorName" ></small>
                            </div>
                        </div>
                        <div>
                            <button onclick="clickAdd('brand', 'brandForm', 'name', 'errorName', 'thương hiệu')" type="button" class="btn btn-success">
                                <i class="fa-solid fa-square-plus"></i> THÊM
                            </button>
                            <a href="/nova/product/page">
                                <button type="button" class="btn btn-warning"><i
                                        class="fa-solid fa-circle-left mr-1"></i> SẢN PHẨM
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="border-search">
                        <div class="col-md-3">
                            <button onclick="clickSearch('brand', 'brandForm')" type="button" class="btn btn-secondary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                TÌM KIẾM
                            </button>
                        </div>
                        <div class="col-md-9" >
                            <input type="text" placeholder="Nhập tên thương hiệu..."
                                   th:value="${brandNameSearch}" th:name="brandNameSearch"
                                   class="form-control">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    </h1>
    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pageBrand.isEmpty()}">
                <strong class="card-title">KHÔNG CÓ DỮ LIỆU</strong>
            </div>
            <div th:if="${not pageBrand.isEmpty()}">
                <div class="card-header">
                    <strong>CÓ</strong>
                    <strong class="card-title" th:text="${pageBrand.getTotalElements()}"></strong>
                    <strong class="card-title"> BẢN GHI</strong>
                </div>
                <div class="card-body">
                    <form id="brandDelete">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Tên thương hiệu</th>
                                <th scope="col">Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="items:${pageBrand}">
                                <td th:text="${items.id}"></td>
                                <td th:text="${items.name}"></td>
                                <td class="d-flex justify-content-center">
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/nova/brand/detail/' + ${items.id}}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-pen mr-1"></i>SỬA
                                            </button>
                                        </a>
                                    </div>
                                    <div>
                                        <button th:onclick="clickDelete('brand', 'brandDelete', [[${items.id}]])"
                                                type="button" class="btn btn-danger">
                                            <i class="fa-solid fa-trash mr-1"></i>XÓA
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>


                    <!--            Pagination-->
                    <div class="d-flex justify-content-center align-items-center">
                        <div th:if="${pageBrand.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=0&brandNameSearch=${brandNameSearch}|}">
                                </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=${pageBrand.getNumber() - 1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long"></i></a>
                        </div>
                        <div class="btn btn-dark d-flex">
                            <div th:text="${pageBrand.getNumber() + 1}"></div>
                            <span>/</span>
                            <div th:text="${pageBrand.getTotalPages()}"></div>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 lt pageBrand.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageBrand.getNumber()+1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 lt pageBrand.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageBrand.getTotalPages()-1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
