<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>THƯƠNG HIỆU ĐÃ XÓA</strong>
            </div>
            <div th:if="${mess}" class="alert alert-success alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${mess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form id="brandRestore" class="form-horizontal">
                    <div class="border-search">
                        <div class="col-md-1">
                            <button onclick="clickSearch('brand', 'brandForm')" type="button"
                                    class="btn btn-dark">
                                <i class="fa-solid fa-magnifying-glass px-4"></i>
                            </button>
                        </div>
                        <div class="col-md-11">
                            <input type="text" placeholder="Nhập tên thương hiệu..."
                                   th:value="${brandNameSearch}" th:name="brandNameSearch"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button onclick="clickRestore()" type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can-arrow-up px-4"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    </h1>
    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pageBrand.isEmpty()}">
                <strong class="card-title">KHÔNG CÓ DỮ LIỆU</strong>
            </div>
            <div th:if="${not pageBrand.isEmpty()}">
                <div class="card-header">
                    <strong>CÓ</strong>
                    <strong class="card-title" th:text="${pageBrand.getTotalElements()}"></strong>
                    <strong class="card-title"> BẢN GHI</strong>
                </div>
                <div class="card-body">
                    <form id="brandDelete">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Tên thương hiệu</th>
                                <th scope="col">Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="items:${pageBrand}">
                                <td th:text="${items.id}"></td>
                                <td th:text="${items.name}"></td>
                                <td class="d-flex justify-content-center">
                                    <div class="dropdown">
                                        <button class="btn btn-dark" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               th:href="@{'/nova/brand/detail/' + ${items.id}}">
                                                <i class="fa-solid fa-pen mr-3"></i>Sửa</a>
                                            <button
                                                    th:onclick="clickDelete('brand', 'brandDelete', [[${items.id}]])"
                                                    type="button" class="dropdown-item"><i
                                                    class="fa-solid fa-trash mr-3"></i>Xóa
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>


                    <!--            Pagination-->
                    <div class="d-flex justify-content-center align-items-center">
                        <div th:if="${pageBrand.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=0&brandNameSearch=${brandNameSearch}|}">
                                </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=${pageBrand.getNumber() - 1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long"></i></a>
                        </div>
                        <div class="btn btn-dark d-flex">
                            <div th:text="${pageBrand.getNumber() + 1}"></div>
                            <span>/</span>
                            <div th:text="${pageBrand.getTotalPages()}"></div>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 lt pageBrand.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageBrand.getNumber()+1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                        </div>
                        <div th:if="${pageBrand.getNumber() + 1 lt pageBrand.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageBrand.getTotalPages()-1}&brandNameSearch=${brandNameSearch}|}">
                                <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
