<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>CẬP NHẬT THƯƠNG HIỆU</strong>
            </div>
            <div class="card-body card-block">
                <form id="brandUpdate" th:object="${brand}" th:action="@{/nova/brand/update/{id}(id=${brand.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold form-control-label">Tên thương hiệu</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" th:field="*{name}" class="form-control"
                                                            oninput="onInputText('errorName')">
                            <small class="" style="color: red"
                                   id="errorName" ></small>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button onclick="clickUpdate('brandUpdate', 'name', 'errorName')" type="button" class="btn btn-info"><i class="fa-solid fa-pen mr-1"></i>
                            SỬA
                        </button>
                        <a href="/nova/brand/page">
                            <button type="button" class="btn btn-warning"><i
                                    class="fa-solid fa-circle-left mr-1"></i> THƯƠNG HIỆU
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
