<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>BRAND</strong>
            </div>
            <div class="card-body card-block">
                <form action="/admin/brand/add" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="" class=" form-control-label">Brand name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="" name="name" class="form-control">
                            <!--              <small class="form-text text-muted">This is a help text</small>-->
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>
                            ADD
                        </button>
                        <a href="/admin/brand/page">
                            <button type="button" class="btn btn-secondary"><i class="fa-solid fa-ban"></i>
                                Cancel
                            </button>
                        </a>

                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <div th:if="${mess}" class="alert alert-success" role="alert">
        <span th:text="${mess}"></span>
    </div>
    </h1>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Record</strong>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="items:${pageBrand}">
                        <td th:text="${items.id}"></td>
                        <td th:text="${items.name}"></td>
                        <td class="d-flex justify-content-center">
                            <div style="margin-right: 10px">
                                <a th:href="@{'/admin/brand/detail/' + ${items.id}}">
                                    <button type="button" class="btn btn-warning">DETAIL</button>
                                </a>
                            </div>
                            <div>
                                <form th:action="@{'/admin/brand/delete/' + ${items.id}}" th:method="post">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // function clickAdd() {
    //     debugger
    //     var add = confirm("Bạn có muốn thêm dữ liệu ?")
    //     if (add) {
    //         document.getElementById('myForm').action = '/admin/brand/add'
    //         document.getElementById('myForm').method = 'post'
    //         document.getElementById('myForm').submit()
    //         alert("Thêm dữ liệu thành công")
    //     } else {
    //         return null
    //     }
    // }

    function clickCancel() {
        document.getElementById('myForm').action = 'admin/brand/page'
        document.getElementById('myForm').method = 'get'
        document.getElementById('myForm').submit()
    }
</script>
</body>
</html>
