<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Detail Address</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>ADDRESS</strong>
            </div>
            <div class="card-body card-block">
                <form th:object="${address}" th:action="@{/nova/address/update/{id}(id=${address.id})}"
                      method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">City</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" th:field="*{city}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="district" class=" form-control-label">District</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="district" th:field="*{district}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="ward" class=" form-control-label">Ward</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ward" th:field="*{ward}" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="specificAddress" class=" form-control-label">Specific Address</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="specificAddress" th:field="*{specificAddress}" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>
                            Update
                        </button>
                        <a th:href="@{/nova/address/page}" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
</div>
</body>
</html>
