.border-navbar {
    border: 1px solid #d19c97;
}

.border-featured {
    background-color: #edf1ff;
}

.btn-shopnow {
    background-color: #d19c97;
    color: black;
}

.btn-shopnow:hover {
    background-color: white;
    color: #d19c97;
    transition: 0.4s all;
}

.border-name-shop {
    border: 2px solid;
    text-align: center;
    padding-block: 2px;
}

.btn-pagination {

}

.title-detail {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.nova {
    color: white;
    font-weight: bold;
    font-size: 40px;
    background-color: #d19c97;
    padding-inline: 15px;
}

.border-product-home {
    border: 1px solid #edf1ff;
}

.store {
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding-inline: 15px;
}

.btn-detail-home {
    border: 2px solid;
    border-radius: 8px;
    padding-block: 5px;
}

.btn-detail-home:hover {
    background-color: #555;
    border: 2px solid #555;
}

.border-info-product-home {
    background-color: #edf1ff;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-5 {
    width: 5%;
}

.product-offer .offer-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(61, 70, 77, 0.5);
    z-index: 1;
}

.product-offer:hover img {
    transform: scale(1.2) rotate(5deg);
}

.product-offer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.product-offer {
    position: relative;
    overflow: hidden;
}

.border-service {
    border: none;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item {
    transition: 0.5s;
}

.product-item:hover {
    box-shadow: 0 0 30px #dddddd;
}

.product-item:hover .product-action {
    background: rgba(255, 255, 255, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: 0.3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: 0.3s 0.05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: 0.3s 0.1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: 0.3s 0.15s;
}

.product-item .product-img img {
    transition: 0.5s;
}

.product-item:hover .product-img img {
    transform: scale(1.2);
}

.product-item .btn:hover {
    color: #0abde3 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.position-relative {
    position: relative !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.product-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.height-signin {
    height: 100%;
    margin-top: -28px;
}

.witdh-signin-left {
    /* width: 35%; */
    background-color: #41d2f2;
}

@media (max-width: 767px) {
    .witdh-signin-left {
        display: none;
    }
}

.flex-column {
    flex-direction: column !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.dash {
    color: #cfd8dc;
    /* margin-top: 1px; */
    height: 12px;
    /* margin-left: 12px; */
}

.signin-with {
    font-size: 17px;
    color: black;
}

.d-inline-flex {
    display: inline-flex !important;
}

.carousel {
    position: relative;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.combobox-select {
    border: 2px solid #d19c97;
    border-radius: 8px;
    width: 100%;
    color: white;
    background-color: #d19c97;
}

.combobox-select:active {
    background-color: #d19c97;
}

.combobox-select:focus {
    background-color: #d19c97;
    color: white;
}


.btn-pagination {
    background-color: #d19c97;
    color: white;
    border-radius: 8px;
}

.btn-pagination:hover {
    background-color: #d17d75;
}

.price-product-detail {
    font-size: 1.75rem;
    color: #1C1C1C;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

