<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>SIZE UPDATE</strong>
            </div>
            <div class="card-body card-block">
                <form id="sizeUpdate" th:object="${size}" th:action="@{/nova/size/update/{id}(id=${size.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="" class=" form-control-label">Size name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="" th:field="*{name}" class="form-control">
                            <!--              <small class="form-text text-muted">This is a help text</small>-->
                        </div>
                    </div>

                    <div class="card-footer">
                        <button onclick="clickUpdate('sizeUpdate')" type="button" class="btn btn-info"><i class="fa-solid fa-eye mr-1"></i>
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
