<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 style="font-weight: bold">CẬP NHẬT KÍCH CỠ</h5>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form id="sizeUpdate" th:object="${size}" th:action="@{/nova/size/update/{id}(id=${size.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Mã kích cỡ</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="code" name="code" th:field="*{code}" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Kích cỡ</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" name="name" th:field="*{name}" class="form-control"
                                                            oninput="onInputText('errorName')">
                            <div class="" style="color: red"
                                   id="errorName" ></div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button th:onclick="clickUpdate('sizeUpdate', 'size', 'name', 'errorName', [[${size.id}]])"
                                type="button" class="btn btn-dark"><i class="fa-solid fa-pen px-4"></i>
                        </button>
                        <script th:inline="javascript">
                            checkName = (idInput, errorName, text) => {
                                let isName = document.getElementById(idInput).value
                                debugger
                                if (isName.trim() === '') {
                                    document.getElementById(errorName).innerHTML = `Chưa nhập ${text}`
                                    return false;
                                }
                                return true;
                            }

                            clickUpdate = (idForm, entity, idInput, errorName , idUpdate) => {
                                if (checkName(idInput, errorName, 'kích cỡ')) {
                                    swal({
                                        title: "Sửa dữ liệu",
                                        text: "Bạn có muốn sửa dữ liệu không ?",
                                        icon: "warning",
                                        buttons: ["Không", "Có"],
                                        dangerMode: true,
                                        closeOnClickOutside: false,
                                    }).then((update) => {
                                        if (update) {
                                            document.getElementById(idForm).action = '/nova/' + entity + "/update/" + idUpdate
                                            document.getElementById(idForm).method = 'post'
                                            document.getElementById(idForm).submit()
                                        }
                                    });
                                }
                            }
                        </script>
                        <a th:href="@{|/nova/size/page|}">
                            <button type="button" class="btn btn-warning"><i
                                    class="fa-solid fa-circle-left px-4"></i>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
