<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Promotion Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Promotion</strong>
            </div>
            <div class="card-body card-block">
                <form  id="promotionUpdate" th:object="${promotion}" th:action="@{/nova/promotion/update/{id}(id=${promotion.id})}"
                      method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="code" class=" form-control-label">Code</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="code" th:field="*{code}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" th:field="*{name}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="value" class=" form-control-label">Value</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number" id="value" th:field="*{value}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="startDate" class=" form-control-label">Start date</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div id="start-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose start date" type="datetime-local" id="startDate"
                                       class="form-control"
                                       th:field="*{startDate}">
                                <br>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="endDate" class=" form-control-label">End date</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div id="end-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose end date" type="datetime-local" id="endDate"
                                       class="form-control"
                                       th:field="*{endDate}">
                                <br>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button  type="submit" class="btn btn-info"><i class="fa-solid fa-eye mr-1"></i>
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>