<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Promotion Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Chi tiết giảm giá</strong>
            </div>
            <div style="display: flex;padding-left: 20px; flex-wrap: wrap; margin-bottom: 20px;">
                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Mã khuyến mãi:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.code}"></span>
                </div>

                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Tên khuyến mãi:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.name}"></span>
                </div>

                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Trạng thái:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.getStatusName()}"></span>
                </div>

                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Phần trăm giảm:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.value} + '%'"></span>
                </div>

                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Ngày bắt đầu:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.startDate}"></span>
                </div>

                <div style="margin-right: 20px; margin-bottom: 10px;">
                    <span style="font-weight: bold; margin-bottom: 5px; display: block;">Ngày kết thúc:</span>
                    <span style="font-style: italic; display: block;" th:text="${promotion.endDate}"></span>
                </div>
                <a style="margin-left: 80px;padding: 15px" href="/nova/promotion/page">
                    <button type="button" class="btn btn-warning"><i
                            class="fa-solid fa-circle-left mr-1 px-4"></i>
                    </button>
                </a>
            </div>
            <span style="margin-right: 10px;padding-left: 20px; font-weight: bold; display: block;">Sản phẩm áp dụng:</span>
            <br>
            <div class="product-list">
                <div class="form-row">
                    <div style="padding-left: 30px" class="col-md-8 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Nhập tên sản phẩm">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select style="width: 300px" class="form-control" id="pageSizeSelect">
                            <option value="5" selected>5 sản phẩm</option>
                            <option value="10">10 sản phẩm</option>
                            <option value="20">20 sản phẩm</option>
                            <option value="all">Hiển thị tất cả</option>
                        </select>
                    </div>
                </div>
                <table class="table" id="productTable">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Tên giảm giá</th>
                        <th>Phần trăm giảm</th>
                        <th>Giá ban đầu</th>
                        <th>Giá sau giảm</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : ${promotionDetails}">
                        <td style="padding: 10px;">
                            <img th:src="@{'/image/product/' + ${detail.productId}}"
                                 style="width: 50px; height: 50px; display: block; margin: 0 auto; border-radius: 8px">
                        </td>
                        <td th:text="${detail.productCode}"></td>
                        <td th:text="${detail.productName}"></td>
                        <td th:text="${detail.promotionName}"></td>
                        <td th:text="${detail.promotionValue} + '%'"></td>
                        <td th:text="${#numbers.formatDecimal(detail.minProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫' + ' - ' + #numbers.formatDecimal(detail.maxProductPrice, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                        <td th:text="${#numbers.formatDecimal(detail.minProductPriceDiscount, 0, 'COMMA', 0, 'POINT') + ' ₫' + ' - ' + #numbers.formatDecimal(detail.maxProductPriceDiscount, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                        <td th:text="${detail.promotionStartDate}"></td>
                        <td th:text="${detail.promotionEndDate}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <script>
                $(document).ready(function () {
                    $("#pageSizeSelect").val("5");
                    updateDisplayRows();
                });

                document.getElementById("pageSizeSelect").addEventListener("change", function () {
                    updateDisplayRows();
                });

                document.getElementById("searchInput").addEventListener("input", function () {
                    updateDisplayRows();
                });

                function updateDisplayRows() {
                    var pageSize = $("#pageSizeSelect").val();
                    var filter = document.getElementById("searchInput").value.toUpperCase();
                    var allRows = document.querySelectorAll('#productTable tbody tr');
                    var visibleRows = 0;

                    allRows.forEach(function (row) {
                        var td = row.getElementsByTagName("td")[2];
                        var txtValue = td.textContent || td.innerText;

                        if (txtValue.toUpperCase().indexOf(filter) > -1 && (pageSize === "all" || visibleRows < parseInt(pageSize))) {
                            row.style.display = "";
                            visibleRows++;
                        } else {
                            row.style.display = "none";
                        }
                    });
                }
            </script>

        </div>
    </div>
</div>
</body>
</html>