<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Promotion Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Promotion</strong>
            </div>
            <!--            Notification-->
            <div th:if="${mess}" class="alert alert-success alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${mess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form  id="promotionForm" th:action="@{/nova/promotion/add}" th:object="${promotion}"  method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="code" class=" form-control-label">Code</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text"  id="code" name="code" th:field="*{code}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text"  id="name" name="name" th:field="*{name}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label class=" form-control-label">Type</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="form-check-inline form-check">
                                <label for="type1" class="form-check-label ">
                                    <input type="radio" id="type1" name="type" value="true" checked
                                           class="form-check-input">Giảm tiền mặt
                                </label>
                                <label for="type2" class="form-check-label ">
                                    <input type="radio" id="type2" name="type" value="false" class="form-check-input">Giảm
                                    phần trăm
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="value" class=" form-control-label">Value</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="number"  id="value" name="value" th:field="*{value}" class="form-control">
                            <br>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="startDate" class=" form-control-label">Start date</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div id="start-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose start date"  th:field="*{startDate}" type="datetime-local" id="startDate"
                                       class="form-control"
                                       name="startDate">
                                <br>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="endDate" class=" form-control-label">End date</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <div id="end-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose end date" th:field="*{endDate}" type="datetime-local" id="endDate"
                                       class="form-control"
                                       name="endDate">
                                <br>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/nova/promotion_detail/page}">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-refresh"></i>
                                Change PromotionDetail
                            </button>
                        </a>
                    </div>

                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickAdd('promotion', 'promotionForm')" type="button" class="btn btn-success"><i
                                    class="fa-solid fa-square-plus"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickSearch('promotion', 'promotionForm')" type="button" class="btn btn-secondary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                SEARCH
                            </button>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" placeholder="Search by name..."
                                   th:value="${promotionNameSearch}" th:name="promotionNameSearch"
                                   class="form-control">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Record</strong>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Create date</th>
                        <th scope="col">Update date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="items:${pagePromotion}">
                        <td th:text="${items.id}"></td>
                        <td th:text="${items.code}"></td>
                        <td th:text="${items.name}"></td>
                        <td th:text="${items.type}"></td>
                        <td th:text="${#numbers.formatDecimal(items.value, 0, 0)}"></td>
                        <td th:text="${#dates.format(items.startDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(items.endDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(items.createDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(items.updateDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${items.status}"></td>
                        <td class="d-flex justify-content-center">
                            <div style="margin-right: 10px">
                                <a th:href="@{'/nova/promotion/detail/' + ${items.id}}">
                                    <button type="button" class="btn btn-warning">DETAIL</button>
                                </a>
                            </div>
                            <div>
                                <form id="promotionDelete" th:action="@{'/nova/promotion/delete/' + ${items.id}}"
                                      th:method="post">
                                    <button onclick="clickDelete('promotionDelete')" type="button" class="btn btn-danger">
                                        <i class="fa-solid fa-trash mr-1"></i>DELETE
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center align-items-center">
                    <div th:if="${pagePromotion.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                        <a th:href="@{|?page=0&promotionNameSearch=${promotionNameSearch}|}">
                            </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                    </div>
                    <div th:if="${pagePromotion.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                        <a th:href="@{|?page=${pagePromotion.getNumber() - 1}&promotionNameSearch=${promotionNameSearch}|}">
                            <i style="color: white" class="fa-solid fa-left-long"></i></a>
                    </div>
                    <div class="btn btn-dark d-flex">
                        <div th:text="${pagePromotion.getNumber() + 1}"></div>
                        <span>/</span>
                        <div th:text="${pagePromotion.getTotalPages()}"></div>
                    </div>
                    <div th:if="${pagePromotion.getNumber() + 1 lt pagePromotion.getTotalPages()}" class="btn btn-dark ml-1">
                        <a th:href="@{|?page=${pagePromotion.getNumber()+1}&promotionNameSearch=${promotionNameSearch}|}">
                            <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                    </div>
                    <div th:if="${pagePromotion.getNumber() + 1 lt pagePromotion.getTotalPages()}" class="btn btn-dark ml-1">
                        <a th:href="@{|?page=${pagePromotion.getTotalPages()-1}&promotionNameSearch=${promotionNameSearch}|}">
                            <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
