<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>PRODUCT DETAIL ADD</strong>
            </div>
            <div class="card-body card-block">
                <form id="productDetailAdd" th:object="${product}" class="form-horizontal">
                    <div class="form-group row">
<!--                        <label class="col-sm-2 col-form-label">Product name</label>-->
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" th:value="${product.id}" name="productId">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:value="*{name}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="quantity">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Size</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="sizeId">
                                <option th:value="${size.id}" th:each="size: ${listSize}"
                                        th:text="${size.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">Color</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="colorId">
                                <option th:value="${color.id}" th:each="color: ${listColor}"
                                        th:text="${color.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickAdd('product-detail', 'productDetailAdd')" type="button" class="btn btn-success"><i
                                    class="fa-solid fa-square-plus"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
