<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>CẬP NHẬT MÀU SẮC</strong>
            </div>
            <div class="card-body card-block">
                <form id="colorUpdate" th:object="${color}" th:action="@{/nova/${product.id}/color/update/{id}(id=${color.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Tên màu</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" th:field="*{name}" class="form-control"
                                                            oninput="onInputText('errorName')">
                            <div class="" style="color: red"
                                   id="errorName" ></div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button th:onclick="clickUpdate('colorUpdate', 'color', 'name', 'errorName', [[${product.id}]], [[${color.id}]])"
                                type="button" class="btn btn-dark"><i class="fa-solid fa-pen px-4"></i>
                        </button>
                        <script th:inline="javascript">
                            checkName = (idInput, errorName, text) => {
                                let isName = document.getElementById(idInput).value
                                debugger
                                if (isName.trim() === '') {
                                    document.getElementById(errorName).innerHTML = `Chưa nhập ${text}`
                                    return false;
                                }
                                return true;
                            }

                            clickUpdate = (idForm, entity, idInput, errorName, productId , idUpdate) => {
                                if (checkName(idInput, errorName, 'màu sắc')) {
                                    swal({
                                        title: "Sửa dữ liệu",
                                        text: "Bạn có muốn sửa dữ liệu không ?",
                                        icon: "warning",
                                        buttons: ["Không", "Có"],
                                        dangerMode: true,
                                        closeOnClickOutside: false,
                                    }).then((update) => {
                                        if (update) {
                                            document.getElementById(idForm).action = '/nova/'+ productId+"/" + entity + "/update/" + idUpdate
                                            document.getElementById(idForm).method = 'post'
                                            document.getElementById(idForm).submit()
                                        }
                                    });
                                }
                            }
                        </script>
                        <a th:href="@{|/nova/${product.id}/color/page|}">
                            <button type="button" class="btn btn-warning"><i
                                    class="fa-solid fa-circle-left px-4"></i>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
