<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Hoá Đơn</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>HOÁ ĐƠN</strong>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pageBill.isEmpty()}">
                <strong class="card-title">Không có bản ghi nào</strong>
            </div>
            <div th:if="${not pageBill.isEmpty()}">
                <div class="card-header">
                    <strong>Có</strong>
                    <strong class="card-title" th:text="${totalElements}"></strong>
                    <strong class="card-title"> Hoá đơn</strong>
                </div>
                <div class="card-body">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Khách Hàng</th>
                                <th scope="col">Ngày đặt</th>
                                <th scope="col">Tổng</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bill : ${pageBill}">
                                <td th:text="${bill.id}"></td>
                                <td th:text="${bill.customer.email}"></td>
                                <td th:text="${#dates.format(bill.orderDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td th:text="'₫' + ${#numbers.formatDecimal(bill.totalPrice, 0, 'COMMA', 0, 'POINT')}"></td>
                                <td th:text="${bill.getStatusName()}">
                                </td>
                                <td class="d-flex justify-content-center">
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/nova/bill/detail/' + ${bill.id}}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-eye mr-1"></i>Chi tiết
                                            </button>
                                        </a>
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/nova/bill/confirm-bill/' + ${bill.id}}" th:if="${bill.status == 10}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-address-book mr-1"></i>Xác nhận
                                            </button>
                                        </a>
                                    </div>
                                    <div style="margin-right: 10px" th:if="${bill.status == 3}">
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                data-target="#shippingBill">
                                            <i class="fa-solid fa-pen mr-1"></i>Giao hàng
                                        </button>
                                        <!--Confirm Modal -->
                                        <div class="modal fade" id="shippingBill" tabindex="-1" role="dialog" aria-labelledby="shippingBill" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="shippingBillLabel">Xác nhận</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="shippingForm" th:action="@{/nova/bill/shipping-bill}" method="post">
                                                            <div class="form-group">
                                                                <input type="text" hidden="true" name="id" th:value="${bill.id}">
                                                                <label for="shippingFee">Nhập phí Ship cho đơn hàng</label>
                                                                <input type="number" class="form-control" id="shippingFee" name="shippingFee" placeholder="Nhập phí ship">
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End Modal-->
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/nova/bill/complete-bill/' + ${bill.id}}" th:if="${bill.status == 2}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-circle mr-1"></i>Hoàn thành
                                            </button>
                                        </a>
                                    </div>
                                    <div style="margin-right: 10px">
                                        <a th:href="@{'/nova/bill/cancel-bill/' + ${bill.id}}" th:if="${bill.status == 10 || bill.status == 3}">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa-solid fa-times mr-1"></i>Huỷ
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    <!--                    Pagination-->

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
