<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/user/fragments::head}">
</head>

<body>
    <div th:replace="~{/user/fragments::header}"></div>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Giỏ Hàng</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/home">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Giỏ hàng</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div th:if="${mess}">
            <button hidden id="btnSuccess" th:onclick="alertSuccess([[${mess}]])">Click Me</button>
            <script th:inline="javascript">
                window.onload = function () {
                    var btnSuccess = document.getElementById("btnSuccess");
                    btnSuccess.click();
                }
                alertSuccess = (content) => {
                    Swal.fire({
                        title: content,
                        icon: "success",
                        confirmButtonColor: "#0DC149"
                    });
                }
            </script>
        </div>
        <div th:if="${error}">
            <button hidden id="btnError" th:onclick="alertError([[${error}]])">Click Me</button>
            <script th:inline="javascript">
                window.onload = function () {
                    var btnError = document.getElementById("btnError");
                    btnError.click();
                }
                alertError = (content) => {
                    Swal.fire({
                        title: "Lỗi",
                        text: content,
                        icon: "error",
                        confirmButtonColor: "#d33"
                    });
                }
            </script>
        </div>
        <div th:if="${check}">
            <h4 class="text-center" style="color: darkslategray" th:text="${check}"><i class="text-info font-weight-bold text-center"></i></h4>
        </div>
        <div th:if="${check}" class="text-center">
            <a th:href="@{/shop}" class="btn btn-success">MUA NGAY</a>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-9 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0" th:if="${grandTotal}">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th></th>
                            <th>Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Phân loại sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Số tiền</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr th:each="cartItem : ${cart.cartDetails}">
                            <td class="align-middle"><img th:src="@{'/image/product/' + ${cartItem.getProductDetail().product.id}}" alt="" style="width: 50px;"></td>
                            <td class="align-middle" th:text="${cartItem.productDetail.code}"></td>
                            <td class="align-middle" th:text="${cartItem.productDetail.product.name}"></td>
                            <td class="align-middle"
                                th:text="'Màu: ' + ${cartItem.productDetail.color.name}
                                + ', ' + 'Kích cỡ: ' + ${cartItem.productDetail.size.name}"></td>
                            <td class="align-middle"
                                th:text="'₫' + ${#numbers.formatDecimal(cartItem.price, 0, 'COMMA', 0, 'POINT')}"></td>
                            <form th:action="@{/update-cart}" method="post" name="form1">
                                <input type="hidden" name="id" th:value="${cartItem.productDetail.id}">
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control form-control-sm bg-secondary text-center" max="1000000" name="quantity" th:value="${cartItem.quantity}">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mt-2 text-center">
                                        Số lượng tồn: <span th:text="${cartItem.productDetail.quantity}"></span>
                                    </div>
                                </td>
                                <td class="align-middle"
                                    th:text="'₫' + ${#numbers.formatDecimal(cartItem.price * cartItem.quantity, 0, 'COMMA', 0, 'POINT')}"
                                ></td>
                                <td class="align-middle">
                                    <button class="btn btn-sm btn-primary"
                                            type="submit" name="action" value="update" title="Update"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-sm btn-primary"
                                            type="submit" name="action" value="delete" title="Update"><i class="fa fa-times"></i></button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3" th:if="${grandTotal}">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Tổng quan giỏ hàng</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng tiền hàng</h6>
                            <h6 class="font-weight-medium"
                                th:text="'₫' + ${#numbers.formatDecimal(grandTotal, 0, 'COMMA', 0, 'POINT')}"></h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tạm tính</h5>
                            <h5 class="font-weight-bold"
                                th:text="'₫' + ${#numbers.formatDecimal(grandTotal, 0, 'COMMA', 0, 'POINT')}"></h5>
                        </div>
                        <a th:href="@{/checkout}" class="btn btn-block btn-primary my-3 py-3">
                            Thanh toán
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <div th:replace="~{/user/fragments::footer}"></div>

    <div th:replace="~{/user/fragments::script}"></div>

    <script>
        document.querySelector('input[name="quantity"]').addEventListener('input', function(e) {
            let value = e.target.value;
            // Chỉ cho phép số dương và không cho phép để trống hoặc dấu cách
            e.target.value = value.replace(/[^0-9]| /g, '');
            // Kiểm tra nếu giá trị là chuỗi rỗng
            if (e.target.value.trim() === '' || e.target.value.trim() === 0 ) {
                e.target.value = '1';
            } else if (e.target.value.trim() > 1000000) {
                e.target.value = '1000000';
            }

        });

    </script>

</body>

</html>