<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/user/fragments::head}">
</head>

<body>
<div th:replace="~{/user/fragments::header}"></div>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thanh toán</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thanh toán</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form th:action="@{/add-order}" method="post">
        <div class="row px-xl-5">
            <div class="col-lg-5">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Địa chỉ nhận hàng mặc định</h4>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input"
                                       th:id="${'address-' + defaultAddress.id}"
                                       th:value="${defaultAddress.specificAddress + ', ' + defaultAddress.ward + ', '
                                       + defaultAddress.district + ', ' + defaultAddress.city}"
                                       checked
                                       name="address">
                                <label class="custom-control-label" th:for="${'address-' + defaultAddress.id}"
                                       th:text="${defaultAddress.specificAddress + ', ' + defaultAddress.ward + ', '
                                       + defaultAddress.district + ', ' + defaultAddress.city}"></label>
                            </div>
                            <!--                            <div class="custom-control custom-checkbox">-->
                            <!--                                <input type="checkbox" class="custom-control-input" id="shipto">-->
                            <!--                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Chọn địa chỉ khác</label>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Địa chỉ nhận hàng khác</h4>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-radio custom-control-inline"
                                 th:each="address : ${listAddress}">
                                <input type="radio" class="custom-control-input"
                                       th:id="${'address-' + address.id}"
                                       th:value="${address.specificAddress + ', ' + address.ward + ', '
                                       + address.district + ', ' + address.city}"
                                       name="address">
                                <label class="custom-control-label" th:for="${'address-' + address.id}"
                                       th:text="${address.specificAddress + ', ' + address.ward + ', '
                                       + address.district + ', ' + address.city}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Tổng quan đơn hàng</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Sản phẩm</h5>
                        <div class="d-flex justify-content-between" th:each="item : ${cart.getCartDetails()}">
                            <p th:text="${item.productDetail.product.name}"></p>
                            <p th:text="'Màu: ' + ${item.productDetail.color.name}
                                + ', ' + 'Kích cỡ: ' + ${item.productDetail.size.name}"></p>
                            <p th:text="'Giá: ' + '₫' + ${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}"></p>
                            <p th:text="'Số lượng: ' + ${item.quantity}"></p>
                            <p th:text="'Thành tiền: ' + '₫' + ${#numbers.formatDecimal(item.price*item.quantity, 1, 'COMMA', 0, 'POINT')}"></p>
                        </div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng tiền hàng</h6>
                            <h6 class="font-weight-medium"
                                th:text="'₫' + ${#numbers.formatDecimal(cart.totalPrice, 1, 'COMMA', 0, 'POINT')}"></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">0</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng thanh toán</h5>
                            <h5 class="font-weight-bold"
                                th:text="'₫' + ${#numbers.formatDecimal(cart.totalPrice, 1, 'COMMA', 0, 'POINT')}"></h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Phương thức thanh toán</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" th:value="'Thanh toán khi nhận hàng'"
                                       name="payment" id="cod" checked>
                                <label class="custom-control-label" for="cod">Thanh toán khi nhận hàng</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->

<div th:replace="~{/user/fragments::footer}"></div>

<div th:replace="~{/user/fragments::script}"></div>

</body>

</html>