<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/user/fragments::head}">

</head>

<body>
    <div th:replace="~{/user/fragments::header}"></div>

<!--     Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Chi tiết sản phẩm</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/home">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Chi tiết sản phẩm</p>
            </div>
        </div>
    </div>
<!--     Page Header End -->

    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div th:if="${mess}">
            <button hidden id="btnSuccess" th:onclick="alertSuccess([[${mess}]])">Click Me</button>
            <script th:inline="javascript">
                window.onload = function () {
                    var btnSuccess = document.getElementById("btnSuccess");
                    btnSuccess.click();
                }
                alertSuccess = (content) => {
                    Swal.fire({
                        title: content,
                        icon: "success",
                        confirmButtonColor: "#0DC149"
                    });
                }
            </script>
        </div>
        <div th:if="${error}">
            <button hidden id="btnError" th:onclick="alertError([[${error}]])">Click Me</button>
            <script th:inline="javascript">
                window.onload = function () {
                    var btnError = document.getElementById("btnError");
                    btnError.click();
                }
                alertError = (content) => {
                    Swal.fire({
                        title: "Lỗi",
                        text: content,
                        icon: "error",
                        confirmButtonColor: "#d33"
                    });
                }
            </script>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" th:src="@{'/image/' + ${imageActive.id}}" alt="Image">
                        </div>
                        <div class="carousel-item" th:if="${listImage.size() > 1 && image.id != imageActive.id}" th:each="image : ${listImage}">
                            <img class="w-100 h-100" th:src="@{'/image/' + ${image.id}}" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5 form-san-pham">
                <h3 class="font-weight-semi-bold" th:text="${product.name}"></h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                </div>
<!--                <h3 class="font-weight-semi-bold mb-4" th:text="'₫' + ${#numbers.formatDecimal(priceMin, 0, 'COMMA', 0, 'POINT')}"></h3>-->
<!--                <p class="mb-4" th:text="${product.description}"></p>-->

<!--                Hiển thị giá đã giảm -->

                <div class=" mb-3">
                    <div th:if="${priceDiscountMin != priceDiscountMax}">
                        <div id="price-top" class="d-flex  price-product-detail">
                            <h3 class="" th:text="'₫' + ${#numbers.formatDecimal(priceDiscountMin, 0, 'COMMA', 0, 'POINT')}"></h3>
                            <h3 class="ml-1 mr-1 "> ~ </h3>
                            <h3 class="" th:text="'₫' + ${#numbers.formatDecimal(priceDiscountMax, 0, 'COMMA', 0, 'POINT')}"></h3>
                        </div>
                    </div>
                    <div  th:if="${priceDiscountMin == priceDiscountMax}">
                        <div id="price-bottom" class="d-flex  price-product-detail">
                            <h3 th:text="'₫' + ${#numbers.formatDecimal(priceDiscountMin.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></h3>
                        </div>

                    </div>
                </div>


                <div th:if="${discount.isDiscount}" class=" mb-3">
                    <div  th:if="${priceMax != priceMin}">
                        <div id="price-top-discount" class="d-flex  price-product-detail-discount">
                            <div class="" th:text="'₫' + ${#numbers.formatDecimal(priceMin, 0, 'COMMA', 0, 'POINT')}"></div>
                            <div class="ml-1 mr-1 "> ~ </div>
                            <div class="" th:text="'₫' + ${#numbers.formatDecimal(priceMax, 0, 'COMMA', 0, 'POINT')}"></div>
                        </div>
                    </div>
                    <div  th:if="${priceMax == priceMin}">
                        <div id="price-bottom-discount" class="d-flex  price-product-detail-discount">
                            <div th:text="'₫' + ${#numbers.formatDecimal(priceMin.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></div>
                        </div>
                    </div>
                </div>

<!--                <div class="font-weight-semi-bold mb-3">-->
<!--                    <h3 th:id="changePrice" th:text="'₫' + ${#numbers.formatDecimal(priceMin.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></h3>-->
<!--                </div>-->
                <div class="d-flex" style="margin-bottom: 14px">
                    <p class="text-dark font-weight-medium mb-0 mr-2" >Mã:</p>
                    <p id="product-code"></p>
                </div>
                <div class="d-flex" style="margin-bottom: 14px">
                    <p class="text-dark font-weight-medium mb-0 mr-2" >Số lượng:</p>
                    <p id="productDetail-quantity"></p>
                </div>

                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" th:value="${product.id}" name="productId">
                    <div class="d-flex mb-3">
                        <p class="text-dark font-weight-medium mb-0 mr-3">Kích cỡ:</p>
                        <div class="custom-control custom-radio custom-control-inline" th:each="size : ${listProductSize}">
                            <input type="radio" th:onchange="sizeChange([[${size.id}]])" class="custom-control-input rad-size" th:id="${'size-' + size.id}" th:value="${size.id}" name="size">
                            <label class="custom-control-label" th:for="${'size-' + size.id}" th:text="${size.name}"></label>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <p class="text-dark font-weight-medium mb-0 mr-3">Màu sắc:</p>
                        <div class="custom-control custom-radio custom-control-inline" th:each="color : ${listProductColor}">
                            <input type="radio" th:onchange="colorChange([[${color.id}]])" class="custom-control-input" th:id="${'color-' + color.id}" th:value="${color.id}" name="color">
                            <label class="custom-control-label" th:for="${'color-' + color.id}" th:text="${color.name}"></label>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        var listProductSize = [[${listProductSize}]];
                        var listProductColor = [[${listProductColor}]];
                        var discount = [[${discount}]];
                        var value = [[${value}]]
                        var discountValue = discount.value ? discount.value : 0
                        var colorSelected = null;
                        var sizeSelected = null;
                        function disableColor() {
                            for (let i = 0; i < listProductColor.length; i++) {
                                document.getElementById('color-' + listProductColor[i].id).disabled = true
                            }
                        }
                        disableColor()
                        function sizeChange(id) {

                            let index = -1;
                            for (let i = 0; i < listProductSize.length; i++) {
                                if (listProductSize[i].id === id) {
                                    index = i;
                                    break;
                                }
                            }
                            if (index === -1) return
                            const listColorId = listProductSize[index].listColorId;
                            for (let i = 0; i < listProductColor.length; i++) {
                                document.getElementById('color-' + listProductColor[i].id).disabled = true
                                document.getElementById('color-' + listProductColor[i].id).checked = false
                            }
                            for (let i = 0; i < listColorId.length; i++) {
                                document.getElementById('color-' + listColorId[i]).disabled = false
                            }
                            sizeSelected = id;
                            return id;
                        }

                        function colorChange(id) {
                            let index = -1;
                            for (let i = 0; i < listProductSize.length; i++) {
                                if (listProductSize[i].id === sizeSelected) {
                                    index = i;
                                    break;
                                }
                            }
                            if (index === -1) return
                            const size = listProductSize[index]
                            const listColor = size.propertiesResponseList
                            let color = null;
                            for (let i = 0; i < listColor.length; i++) {
                                if (listColor[i].id === id) {
                                    color = listColor[i]
                                }
                            }
                            if (color === null) return
                            const code = color.code
                            const quantity = color.quantity
                            let price = color.price
                            let discountPrice = color.price - color.price * value / 100
                            let formattedPriceTop = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                            formattedPriceTop = formattedPriceTop.toString().replaceAll("₫", "")
                            formattedPriceTop = formattedPriceTop.toString().replaceAll(".", ",")
                            let discountPriceFormatted = discountPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                            discountPriceFormatted = discountPriceFormatted.toString().replaceAll("₫", "").replaceAll('.', ',')
                            document.getElementById('product-code').innerText = code
                            document.getElementById('productDetail-quantity').innerText = quantity
                            let priceDiscountMax = [[${priceDiscountMax}]]
                            let priceDiscountMin = [[${priceDiscountMin}]]
                            if (priceDiscountMin !== priceDiscountMax) {
                                if (document.getElementById('price-top') != null) {
                                    document.getElementById('price-top').innerText = '₫' + discountPriceFormatted
                                }


                                if (document.getElementById('price-top-discount') != null) {
                                    document.getElementById('price-top-discount').innerText = '₫' + formattedPriceTop
                                }

                                let formattedPriceButtom = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                                formattedPriceButtom = formattedPriceButtom.toString().replaceAll("₫", "")
                                formattedPriceButtom = formattedPriceButtom.toString().replaceAll(".", ",")
                                document.getElementById('product-code').innerText = code
                                document.getElementById('productDetail-quantity').innerText = quantity
                                if (document.getElementById('price-bottom') != null) {
                                    document.getElementById('price-bottom').innerText = '₫' + formattedPriceButtom
                                }
                                colorSelected = id;
                                return id;
                            } else {
                                debugger
                                if (document.getElementById('price-bottom') != null) {
                                    document.getElementById('price-bottom').innerText = '₫' + discountPriceFormatted
                                }

                                if (document.getElementById('price-top-discount') != null) {
                                    document.getElementById('price-top-discount').innerText = '₫' + formattedPriceTop
                                }

                                colorSelected = id;
                                return id;
                            }
                        }

                    </script>
                    <span id="error-message" style="color: red;"></span>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus" type="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary text-center" id="quantityBuy" value="1" name="quantity" >
                            <script th:inline="javascript">
                                const quantityBuy = document.getElementById('quantityBuy');

                                quantityBuy.addEventListener('input', function(event) {
                                    const inputValue = event.target.value;
                                    event.target.value = inputValue.replace(/\D/g, '');
                                    if (event.target.value.trim() === '') {
                                        event.target.value = '1';
                                    }
                                });

                            </script>
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus" type="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3" type="submit"><i class="fa fa-shopping-cart mr-1"></i> Thêm giỏ hàng</button>
                    </div>
                </form>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Chia sẻ:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" th:href="@{/}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" th:href="@{/}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" th:href="@{/}">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" th:href="@{/}">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Mô Tả</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Thông tin</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Mô Tả Sản Phẩm</h4>
                        <p th:text="${product.description}"></p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Thông Tin Sản Phẩm</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <span th:text="'Danh mục: ' + ${product.category.name}"></span>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <span th:text="'Thương hiệu: ' + ${product.brand.name}"></span>
                                    </li>
                                  </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <span th:text="'Kiểu dáng: ' + ${product.form.name}"></span>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <span th:text="'Chất liệu: ' + ${product.material.name}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <!-- title start -->
            <div class="px-xl-5 pb-3">
                <div class="text-center mb-4">
                    <h2 class="mb-4 font-weight-semi-bold">- Bạn có thể thích -</h2>
                </div>
            </div>
        <!-- title end -->

        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <div class="card product-item border-0" th:each="product: ${listProductYouMayLikeResponse}">
                        <div class="product-item mb-4 border-product-home">
                            <div class="product-img position-relative overflow-hidden">
                                <div th:if="${product.value != null}" class="text-discount" th:text="'Giảm ' + ${#strings.substringBefore(product.value, '.')} + '%'"></div>
                                <img class="img-fluid w-100" th:src="@{'/image/product/' + ${product.id}}">
                                <div class="product-action">
                                    <a class="btn btn-detail-home" th:href="@{'/product-detail/' + ${product.id}}">
                                        <i class="fa-solid fa-eye" style="color: #D19C97;"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="text-center py-4 border-info-product-home">
                                <div class="h5 text-decoration-none text-truncate" th:href="@{'/product-detail/' + ${product.id}}" th:text="${product.name}"></div>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <div class="d-flex justify-content-center" th:if="${product.priceMax != product.priceMin}">
                                        <h6 th:text="'₫' + ${#numbers.formatDecimal(product.priceMin.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></h6>
                                        <h6 class="ml-1 mr-1"> ~ </h6>
                                        <h6 th:text="'₫' + ${#numbers.formatDecimal(product.priceMax.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></h6>
                                    </div>
                                    <div class="d-flex justify-content-center" th:if="${product.priceMax == product.priceMin}">
                                        <h6 th:text="'₫' + ${#numbers.formatDecimal(product.priceMin.stripTrailingZeros().toPlainString(), 0, 'COMMA', 0, 'POINT')}"></h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fas fa-star text-primary"></small>
                                    <small class="fas fa-star text-primary"></small>
                                    <small class="fas fa-star text-primary"></small>
                                    <small class="fas fa-star-half-alt text-primary"></small>
                                    <small class="far fa-star text-primary"></small>
                                    <small> (99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

    <div th:replace="~{/user/fragments::footer}"></div>

    <div th:replace="~{/user/fragments::script}"></div>

</body>

</html>