<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/user/fragments::head}">
</head>

<body>
<div th:replace="~{/user/fragments::header}"></div>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Đơn hàng của bạn</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Đơn hàng của bạn</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div th:if="${mess}">
        <button hidden id="btnSuccess" th:onclick="alertSuccess([[${mess}]])">Click Me</button>
        <script th:inline="javascript">
            window.onload = function () {
                var btnSuccess = document.getElementById("btnSuccess");
                btnSuccess.click();
            }
            alertSuccess = (content) => {
                Swal.fire({
                    title: content,
                    icon: "success",
                    confirmButtonColor: "#0DC149"
                });
            }
        </script>
    </div>
    <div th:if="${error}">
        <button hidden id="btnError" th:onclick="alertError([[${error}]])">Click Me</button>
        <script th:inline="javascript">
            window.onload = function () {
                var btnError = document.getElementById("btnError");
                btnError.click();
            }
            alertError = (content) => {
                Swal.fire({
                    title: "Lỗi",
                    text: content,
                    icon: "error",
                    confirmButtonColor: "#d33"
                });
            }
        </script>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-12 mb-5">
            <ul class="nav nav-tabs bg-secondary text-center">
                <li class="tab-item" style="width: 16%" data-status="">
                    <a class="nav-link text-dark" title="Tất cả" href="#" style="padding: 20px">Tất cả</a>
                </li>
                <li class="tab-item" style="width: 16%" data-status="10">
                    <a class="nav-link text-dark" title="Chờ xác nhận" href="#" style="padding: 20px">Chờ xác nhận</a>
                </li>
                <li class="tab-item" style="width: 16%" data-status="3">
                    <a class="nav-link text-dark" title="Chờ giao hàng" href="#" style="padding: 20px">Chờ giao hàng</a>
                </li>
                <li class="tab-item" style="width: 16%" data-status="2">
                    <a class="nav-link text-dark" title="Đang giao hàng" href="#" style="padding: 20px">Đang giao hàng</a>
                </li>
                <li class="tab-item" style="width: 16%" data-status="1">
                    <a class="nav-link text-dark" title="Đã giao thành công" href="#" style="padding: 20px">Đã hoàn thành</a>
                </li>
                <li class="tab-item" style="width: 16%" data-status="0">
                    <a class="nav-link text-dark" title="Đã huỷ" href="#" style="padding: 20px">Đã huỷ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Đơn hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái đơn hàng</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                <tr th:each="order : ${orders}">
                    <td class="align-middle" th:text="${order.code}"></td>
                    <td class="align-middle"
                        th:text="${#dates.format(order.orderDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td class="align-middle"
                        th:text="'₫' + ${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}"></td>
                    <td class="align-middle"
                        th:text="${order.getStatusName()}">
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-primary"
                           th:href="@{'/order-detail/' + ${order.id}}">Xem chi tiết</a>
                        <a class="btn cancel-btn btn-sm btn-danger" th:href="@{'/cancel-order/' + ${order.id}}" th:if="${order.status == 10}">Huỷ</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<!-- Cart End -->

<div th:replace="~{/user/fragments::footer}"></div>

<div th:replace="~{/user/fragments::script}"></div>

<script>
    $('.cancel-btn').on('click', function (e) {
        e.preventDefault();
        Swal.fire({
            title: "Xác nhận?",
            text: `Bạn chắc chắn muốn hủy đơn này?`,
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: 'Hủy',
            confirmButtonText: 'Xác nhận',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = $(this).attr('href');
            }
        })
    });

    openTab()

    function openTab() {
        const $tabs = $(".tab-item");

        $tabs.each(function (index) {
            const $tab = $(this);

            $tab.on("click", function () {
                var status = $tab.attr('data-status')
                var url = ''
                if(status == null || status == '') {
                    url = '/orders'
                }else {
                    url = `/orders?status=${status}`
                }
                window.location.href = url
            });
        });
    }


</script>

</body>

</html>