<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Payment Method Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Payment Method</strong>
            </div>
            <!--            Notification-->
            <div th:if="${mess}" class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 5px">
                <span th:text="${mess}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form action="/admin/payment-method/add" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Payment method name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="money" class=" form-control-label">Money</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="money" name="money" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="description" class=" form-control-label">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="description" name="description" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="bill" class=" form-control-label">Bill</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select class="form-control" id="bill" name="bill">
                                <option th:each="bill : ${listBill}" th:value="${bill.id}" th:text="${bill.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-square-plus"></i>
                            Add
                        </button>
                        <a href="/admin/payment-method/page">
                            <button type="button" class="btn btn-secondary"><i class="fa-solid fa-ban"></i>
                                Cancel
                            </button>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Record</strong>
            </div>
            <div class="card-body">
                <table class="table text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Money</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Bill</th>
                        <th scope="col">Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="items:${pagePaymentMethod}">
                        <td th:text="${items.id}"></td>
                        <td th:text="${items.name}"></td>
                        <td th:text="${items.money}"></td>
                        <td th:text="${items.description}"></td>
                        <td th:text="${items.status}"></td>
                        <td th:text="${items.bill.id}"></td>
                        <td class="d-flex justify-content-center">
                            <div style="margin-right: 10px">
                                <a th:href="@{'/admin/payment-method/detail/' + ${items.id}}">
                                    <button type="button" class="btn btn-warning">DETAIL</button>
                                </a>
                            </div>
                            <div>
                                <form th:action="@{'/admin/payment-method/delete/' + ${items.id}}" th:method="post">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2<span class="sr-only">(current)</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
