<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 style="font-weight: bold">SẢN PHẨM</h5>
            </div>
            <div th:if="${mess}">
                <button hidden id="btnSuccess" th:onclick="alertSuccess([[${mess}]])">Click Me</button>
                <script th:inline="javascript">
                    window.onload = function () {
                        var btnSuccess = document.getElementById("btnSuccess");
                        btnSuccess.click();
                    }
                    alertSuccess = (content) => {
                        Swal.fire({
                            title: content,
                            icon: "success",
                            confirmButtonColor: "#0DC149"
                        });
                    }
                </script>
            </div>
            <div th:if="${error}">
                <button hidden id="btnError" th:onclick="alertError([[${error}]])">Click Me</button>
                <script th:inline="javascript">
                    window.onload = function () {
                        var btnError = document.getElementById("btnError");
                        btnError.click();
                    }
                    alertError = (content) => {
                        Swal.fire({
                            title: "Thêm dữ liệu thất bại",
                            text: content,
                            icon: "error",
                            confirmButtonColor: "#d33"
                        });
                    }
                </script>
            </div>

            <div class="card-body card-block">
<!--                <form id="productExcel" enctype="multipart/form-data" action="/nova/product/excel">-->
<!--                    <div class="card-footer">-->
<!--                        <div class="custom-file">-->
<!--                            <input type="file" id="importFile" name="excelFile" accept=".xls, .xlsx"-->
<!--                                   onchange="setFileName()">-->
<!--                            <label class="custom-file-label" for="importFile">Chọn tệp excel</label>-->
<!--                        </div>-->
<!--                        <div class="mt-2 d-flex align-items-center">-->
<!--                            <button type="button" onclick="importExcel('productExcel', 'importFile', 'errorExcel')"-->
<!--                                    class="btn btn-success">-->
<!--                                <i class="fa-solid fa-file-excel px-4"></i>-->
<!--                            </button>-->
<!--                            <div id="errorExcel" class="ml-2" style="color: red;"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
                <form id="productForm" class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Tên sản phẩm</label>
                            <input type="text" class="form-control" th:name="productName"
                                   th:value="${productName}">
                        </div>
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Mô tả</label>
                            <input type="text" class="form-control" th:name="description"
                                   th:value="${description}">
                        </div>
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Chất liệu</label>
                            <div th:if="${materialId} == null">
                                <select class="form-control" name="materialId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${material.id}" th:each="material: ${listMaterial}"
                                            th:text="${material.name}">
                                    </option>
                                </select>
                            </div>
                            <div th:if="${materialId} != null">
                                <select class="form-control" name="materialId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${material.id}" th:each="material: ${listMaterial}"
                                            th:text="${material.name}"
                                            th:selected="${materialId == material.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Loại sản phẩm</label>
                            <div th:if="${categoryId} == null">
                                <select class="form-control" name="categoryId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${category.id}" th:each="category: ${listCategory}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <div th:if="${categoryId} != null">
                                <select class="form-control" name="categoryId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${category.id}" th:each="category: ${listCategory}"
                                            th:text="${category.name}"
                                            th:selected="${categoryId == category.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Thương hiệu</label>
                            <div th:if="${brandId} == null">
                                <select class="form-control" name="brandId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${brand.id}" th:each="brand: ${listBrand}"
                                            th:text="${brand.name}"></option>
                                </select>
                            </div>
                            <div th:if="${brandId} != null">
                                <select class="form-control" name="brandId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${brand.id}" th:each="brand: ${listBrand}"
                                            th:text="${brand.name}" th:selected="${brandId == brand.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label class="font-weight-bold">Kiểu dáng</label>
                            <div th:if="${formId} == null">
                                <select class="form-control" name="formId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${form.id}" th:each="form: ${listForm}"
                                            th:text="${form.name}"></option>
                                </select>
                            </div>
                            <div th:if="${formId} != null">
                                <select class="form-control" name="formId">
                                    <option value="">Tất cả</option>
                                    <option th:value="${form.id}" th:each="form: ${listForm}"
                                            th:text="${form.name}" th:selected="${formId == form.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="card-footer d-flex align-items-center">
                        <div class="">
                            <button onclick="clickSearch('product', 'productForm')" type="button"
                                    class="btn btn-dark">
                                <i class="fa-solid fa-magnifying-glass px-4"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="card-footer d-flex justify-content-end">
                        <div>
                            <a href="/nova/product/view-add">
                                <button type="button" class="btn btn-dark">
                                    <i class="fa-solid fa-square-plus px-4"></i>
                                </button>
                            </a>
                        </div>
                        <div class="ml-2">
                            <a href="/nova/product/view-restore">
                                <button type="button" class="btn btn-dark">
                                    <i class="fa-solid fa-warehouse px-4"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--    product add Start-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm dữ liệu</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="productAdd" th:object="${product}" class="form-horizontal">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Tên sản phẩm
                                </label>
                                <div class="" style="color: red" id="errorName"></div>
                            </div>
                            <input type="text" id="name" name="name"
                                   class="form-control" oninput="onInputText('errorName')">
                        </div>

                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Mô tả
                                </label>
                                <div class="" style="color: red" id="errorDescription"></div>
                            </div>
                            <input type="text" id="description" name="description"
                                   class="form-control" oninput="onInputText('errorDescription')">
                        </div>


                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Chất liệu
                                </label>
                            </div>
                            <select class="form-control" name="materialId">
                                <option th:value="${material.id}" th:each="material: ${listMaterial}"
                                        th:text="${material.name}"></option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Loại sản phẩm
                                </label>
                            </div>
                            <select class="form-control" name="categoryId">
                                <option th:value="${category.id}" th:each="category: ${listCategory}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Thương hiệu
                                </label>
                            </div>
                            <select class="form-control" name="brandId">
                                <option th:value="${brand.id}" th:each="brand: ${listBrand}"
                                        th:text="${brand.name}"></option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="font-weight-bold form-control-label">Kiểu dáng
                                </label>
                            </div>
                            <select class="form-control" name="formId">
                                <option th:value="${form.id}" th:each="form: ${listForm}"
                                        th:text="${form.name}"></option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button onclick="clickAddProduct('product', 'productAdd')"
                                    type="button" class="btn btn-dark"><i
                                    class="fa-solid fa-square-plus px-4"></i></button>
                        </div>


                    </form>
                </div>
                <script th:inline="javascript">
                    checkName = () => {
                        let isName = document.getElementById('name').value
                        if (isName.trim() === '') {
                            document.getElementById('errorName').innerHTML = `Chưa nhập tên sản phẩm`
                            return false;
                        }
                        return true;
                    }

                    checkDescription = () => {
                        let isDescription = document.getElementById('description').value
                        if (isDescription.trim() === '') {
                            document.getElementById('errorDescription').innerHTML = `Chưa nhập mô tả`
                            return false;
                        }
                        return true;
                    }


                    validate = () => {
                        let isName = checkName();
                        let isDescription = checkDescription();
                        if (isName === true && isDescription === true) {
                            return true;
                        }
                    }

                    clickAddProduct = (entity, idForm) => {
                        if (validate()) {
                            swal({
                                title: "Thêm dữ liệu",
                                text: "Bạn có muốn thêm dữ liệu không ?",
                                icon: "warning",
                                buttons: ["Không", "Có"],
                                dangerMode: true,
                                closeOnClickOutside: false,
                            }).then((add) => {
                                if (add) {
                                    document.getElementById(idForm).action = '/nova/' + entity + '/add'
                                    document.getElementById(idForm).method = 'post'
                                    document.getElementById(idForm).submit()
                                    // swal("Thêm dữ liệu thành công", {
                                    //     icon: "success",
                                    // })
                                }
                            });
                        }

                    }
                </script>
            </div>
        </div>
    </div>
    <!--    product add end-->


    <div class="col">
        <div class="card">
            <div class="card-header" th:if="${pageProduct.isEmpty()}">
                <strong class="card-title">KHÔNG CÓ DỮ LIỆU</strong>
            </div>
            <div th:if="${not pageProduct.isEmpty()}">
                <div class="card-header">
                    <strong>CÓ</strong>
                    <strong class="card-title" th:text="${pageProduct.getTotalElements()}"></strong>
                    <strong class="card-title"> BẢN GHI</strong>
                </div>
                <div class="card-body">
                    <form id="productDelete">
                        <table class="table text-center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã sản phẩm</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col">Thương hiệu</th>
                                <th scope="col">Chất liệu</th>
                                <th scope="col">Loại sản phẩm</th>
                                <th scope="col">Kiểu dáng</th>
<!--                                <th scope="col">Ảnh</th>-->
                                <th scope="col">Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="items:${pageProduct}">
                                <td th:text="${items.code}"></td>
                                <td th:text="${items.name}"></td>
                                <td th:text="${items.description}"></td>
                                <td th:text="${items.brandName}"></td>
                                <td th:text="${items.materialName}"></td>
                                <td th:text="${items.categoryName}"></td>
                                <td th:text="${items.formName}"></td>
<!--                                <td>-->
<!--                                    <a th:href="@{'/nova/product/' + ${items.id} + '/image'}">-->
<!--                                        <button type="button" class="btn btn-dark px-4">-->
<!--                                            <i class="fa-solid fa-image"></i>-->
<!--                                        </button>-->
<!--                                    </a>-->
<!--                                </td>-->
                                <td class="d-flex justify-content-center">
                                    <div class="dropdown">
                                        <button class="btn btn-dark" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item"
                                               th:href="@{'/nova/product/' + ${items.id} + '/product-detail'}"><i
                                                    class="fa-solid fa-eye mr-2"></i> Chi tiết</a>
                                            <a class="dropdown-item"
                                               th:href="@{'/nova/product/' + ${items.id} + '/view-update'}"><i
                                                    class="fa-solid fa-pen mr-3"></i>Sửa</a>
                                            <button
                                                    th:onclick="clickDelete('product', 'productDelete', [[${items.id}]])"
                                                    type="button" class="dropdown-item"><i
                                                    class="fa-solid fa-trash mr-3"></i>Xóa
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>

                    <!--                    Pagination-->
                    <div class="d-flex justify-content-center align-items-center">
                        <div th:if="${pageProduct.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=0&productName=${productName == null ? '' : productName}&materialId=${materialId == null ? '' : materialId}&categoryId=${categoryId == null ? '' : categoryId}&brandId=${brandId == null ? '' : brandId}&formId=${formId == null ? '' : formId}&description=${description == null ? '' : description}&priceMin=${priceMin == null ? '' : priceMin}&priceMax=${priceMax == null ? '' : priceMax}|}">
                                </i><i style="color: white" class="fa-solid fa-backward-fast"></i></a>
                        </div>
                        <div th:if="${pageProduct.getNumber() + 1 > 1}" class="btn btn-dark mr-1">
                            <a th:href="@{|?page=${pageProduct.getNumber() - 1}&productName=${productName == null ? '' : productName}&materialId=${materialId == null ? '' : materialId}&categoryId=${categoryId == null ? '' : categoryId}&brandId=${brandId == null ? '' : brandId}&formId=${formId == null ? '' : formId}&description=${description == null ? '' : description}&priceMin=${priceMin == null ? '' : priceMin}&priceMax=${priceMax == null ? '' : priceMax}|}">
                                <i style="color: white" class="fa-solid fa-left-long"></i></a>
                        </div>
                        <div class="btn btn-dark d-flex">
                            <div th:text="${pageProduct.getNumber() + 1}"></div>
                            <span>/</span>
                            <div th:text="${pageProduct.getTotalPages()}"></div>
                        </div>
                        <div th:if="${pageProduct.getNumber() + 1 lt pageProduct.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageProduct.getNumber()+1}&productName=${productName == null ? '' : productName }&materialId=${materialId== null ? '' : materialId}&categoryId=${categoryId== null ? '' : categoryId}&brandId=${brandId == null ? '' : brandId}&formId=${formId == null ? '' : formId}&description=${description == null ? '' : description}&priceMin=${priceMin == null ? '' : priceMin}&priceMax=${priceMax == null ? '' : priceMax}|}">
                                <i style="color: white" class="fa-solid fa-left-long fa-rotate-180"></i></a>
                        </div>
                        <div th:if="${pageProduct.getNumber() + 1 lt pageProduct.getTotalPages()}"
                             class="btn btn-dark ml-1">
                            <a th:href="@{|?page=${pageProduct.getTotalPages()-1}&productName=${productName == null ? '' : productName}&materialId=${materialId == null ? '' : materialId}&categoryId=${categoryId == null ? '' : categoryId}&brandId=${brandId == null ? '' : brandId}&formId=${formId == null ? '' : formId}&description=${description == null ? '' : description}&priceMin=${priceMin == null ? '' : priceMin}&priceMax=${priceMax == null ? '' : priceMax}|}">
                                <i style="color: white" class="fa-solid fa-forward-fast"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
