<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>CẬP NHẬT SẢN PHẨM</strong>
            </div>
            <div class="card-body card-block">
                <form id="productUpdate" th:object="${productUpdate}" th:action="@{/nova/product/update/{id}(id=*{id})}" method="post" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Mã sản phẩm</label>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" name="code" id="code" th:value="*{code}" oninput="onInputText('errorCode')">
                            <input type="text" class="form-control" th:value="*{code}" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Tên sản phẩm</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name"
                                   th:value="*{name}" oninput="onInputText('errorName')">
                            <div class="" style="color: red"
                                   id="errorName" ></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Mô tả</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description"
                                   th:value="*{description}" oninput="onInputText('errorDescription')">
                            <div class="" style="color: red"
                                   id="errorDescription" ></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Giá</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price"
                                   th:value="*{price}" oninput="onInputText('errorPrice')">
                            <div class="" style="color: red"
                                   id="errorPrice" ></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Chất liệu</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="materialId">
                                <option th:value="${material.id}" th:each="material: ${listMaterial}"
                                        th:text="${material.name}" th:selected="(*{material.id} == ${material.id})"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Loại sản phẩm</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="categoryId" >
                                <option th:value="${category.id}" th:each="category: ${listCategory}"
                                        th:text="${category.name}" th:selected="(*{category.id} == ${category.id})"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Thương hiệu</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="brandId">
                                <option th:value="${brand.id}" th:each="brand: ${listBrand}"
                                        th:text="${brand.name}" th:selected="(*{brand.id} == ${brand.id})"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Kiểu dáng</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="formId">
                                <option th:value="${form.id}" th:each="form: ${listForm}"
                                        th:text="${form.name}" th:selected="(*{form.id} == ${form.id})"></option>
                            </select>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        checkName = () => {
                            let isName = document.getElementById('name').value
                            if (isName.trim() === '') {
                                document.getElementById('errorName').innerHTML = `Chưa nhập tên`
                                return false;
                            }
                            return true;
                        }

                        checkDescription = () => {
                            let isDescription = document.getElementById('description').value
                            if (isDescription.trim() === '') {
                                document.getElementById('errorDescription').innerHTML = `Chưa nhập mô tả`
                                return false;
                            }
                            return true;
                        }

                        checkPrice = () => {
                            let isPrice = document.getElementById('price').value
                            if (isPrice.trim() === '') {
                                document.getElementById('errorPrice').innerHTML = `Chưa nhập giá`
                                return false;
                            }
                            if (isPrice < 0) {
                                document.getElementById('errorPrice').innerHTML = `Giá phải lớn hơn 0`
                                return false;
                            }
                            if (isPrice > 2147483647) {
                                document.getElementById('errorPrice').innerHTML = `Mức giá quá lớn vui lòng nhập lại`
                                return false;
                            }
                            return true;
                        }

                        validate = () => {
                            let isName = checkName();
                            let isDescription = checkDescription();
                            let isPrice = checkPrice();
                            if (isName === true && isDescription === true && isPrice === true) {
                                return true;
                            }
                        }

                        clickUpdate = (idForm) => {
                            if (validate()) {
                                swal({
                                    title: "Sửa dữ liệu",
                                    text: "Bạn có muốn sửa dữ liệu không ?",
                                    icon: "warning",
                                    buttons: ["Không", "Có"],
                                    dangerMode: true,
                                    closeOnClickOutside: false,
                                }).then((update) => {
                                    if (update) {
                                        document.getElementById(idForm).submit()
                                    }
                                });
                            }
                        }
                    </script>
                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickUpdate('productUpdate')" type="button" class="btn btn-dark">
                                <i class="fa-solid fa-pen px-4"></i>
                            </button>
                            <a href="/nova/product/page">
                                <button type="button" class="btn btn-warning"><i
                                        class="fa-solid fa-circle-left px-4"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
