<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>THÊM SẢN PHẨM</strong>
            </div>
            <div class="card-body card-block">
                <form id="productAdd" th:object="${product}" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Mã sản phẩm</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="code" id="code" oninput="onInputText('errorCode')">
                            <small class="" style="color: red"
                                   id="errorCode" ></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Tên sản phẩm</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" oninput="onInputText('errorName')">
                            <small class="" style="color: red"
                                   id="errorName" ></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Mô tả</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="description" id="description" oninput="onInputText('errorDescription')">
                            <small class="" style="color: red"
                                   id="errorDescription" ></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Giá</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="price" id="price" oninput="onInputText('errorPrice')">
                            <small class="" style="color: red"
                                   id="errorPrice" ></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Chất liệu</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="materialId">
                                <option th:value="${material.id}" th:each="material: ${listMaterial}"
                                        th:text="${material.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Loại sản phẩm</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="categoryId">
                                <option th:value="${category.id}" th:each="category: ${listCategory}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Thương hiệu</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="brandId">
                                <option th:value="${brand.id}" th:each="brand: ${listBrand}"
                                        th:text="${brand.name}"></option>
                            </select>
                        </div>

                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label font-weight-bold">Kiểu dáng</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="formId">
                                <option th:value="${form.id}" th:each="form: ${listForm}"
                                        th:text="${form.name}"></option>
                            </select>
                        </div>

                    </div>

                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickAdd('product', 'productAdd')" type="button" class="btn btn-success"><i
                                    class="fa-solid fa-square-plus"></i>
                                THÊM
                            </button>
                            <a href="/nova/product/page">
                                <button type="button" class="btn btn-warning"><i
                                        class="fa-solid fa-circle-left mr-1"></i> SẢN PHẨM
                                </button>
                            </a>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        checkCode = () => {
                            let isCode = document.getElementById('code').value
                            if (isCode.trim() === '') {
                                document.getElementById('errorCode').innerHTML = `Chưa nhập mã`
                                return false;
                            }
                            return true;
                        }

                        checkName = () => {
                            let isName = document.getElementById('name').value
                            if (isName.trim() === '') {
                                document.getElementById('errorName').innerHTML = `Chưa nhập tên`
                                return false;
                            }
                            return true;
                        }

                        checkDescription = () => {
                            let isDescription = document.getElementById('description').value
                            if (isDescription.trim() === '') {
                                document.getElementById('errorDescription').innerHTML = `Chưa nhập mô tả`
                                return false;
                            }
                            return true;
                        }



                        validate = () => {
                            let isCode = checkCode();
                            let isName = checkName();
                            let isDescription = checkDescription();
                            let isPrice = checkPrice();
                            if (isCode === true && isName === true && isDescription === true && isPrice === true) {
                                return true;
                            }
                        }

                        clickAdd = (entity, idForm) => {
                            if (validate()) {
                                swal({
                                    title: "Thêm dữ liệu",
                                    text: "Bạn có muốn thêm dữ liệu không ?",
                                    icon: "warning",
                                    buttons: ["Không", "Có"],
                                    dangerMode: true,
                                    closeOnClickOutside: false,
                                }).then((add) => {
                                    if (add) {
                                        document.getElementById(idForm).action = '/nova/' + entity + '/add'
                                        document.getElementById(idForm).method = 'post'
                                        document.getElementById(idForm).submit()
                                        // swal("Thêm dữ liệu thành công", {
                                        //     icon: "success",
                                        // })
                                    }
                                });
                            }

                        }
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
