<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>CẬP NHẬT LOẠI SẢN PHẨM</strong>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert"
                 style="margin: 5px">
                <span th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="card-body card-block">
                <form id="categoryUpdate" th:object="${category}" th:action="@{/nova/category/update/{id}(id=${category.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Mã loại</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="code" th:field="*{code}" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Tên loại</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" th:field="*{name}" class="form-control"
                                                            oninput="onInputText('errorName')">
                            <div class="" style="color: red"
                                   id="errorName" ></div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button onclick="clickUpdate('categoryUpdate', 'name', 'errorName', 'tên loại')" type="button" class="btn btn-dark">
                            <i class="fa-solid fa-pen px-4"></i>
                        </button>
                        <a href="/nova/category/page">
                            <button type="button" class="btn btn-warning"><i
                                    class="fa-solid fa-circle-left px-4"></i>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
