<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Payment Method Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>Cập nhật phiếu mua</strong>
            </div>
            <div class="card-body card-block">
                <form id="voucherUpdate" th:object="${voucher}"
                      th:action="@{/nova/voucher/update/{id}(id=${voucher.id})}" method="post" class="form-horizontal">
                    <div class=" form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Mã voucher</label>
                        <div class="col-sm-10">
                            <input type="text" id="code" name="code" th:field="*{code}" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Tên voucher</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name"
                                   th:value="*{name}" oninput="onInputText('errorName')">
                            <small class="" style="color: red"
                                   id="errorName"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Số lượng</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="quantity" id="quantity"
                                   th:value="*{quantity}" oninput="onInputText('errorQuantity')">
                            <small class="" style="color: red"
                                   id="errorQuantity"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Giá trị</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="value" id="value"
                                   th:value="*{value}" oninput="onInputText('errorValue')">
                            <small class="" style="color: red"
                                   id="errorValue"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Giá tối thiểu</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="minimumPrice" id="minimumPrice"
                                   th:value="*{minimumPrice}" oninput="onInputText('errorMinimumPrice')">
                            <small class="" style="color: red"
                                   id="errorMinimumPrice"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Ngày bắt đầu</label>
                        <div class="col-sm-10">
                            <div id="start-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose start date" type="datetime-local"
                                       id="startDate"
                                       class="form-control"
                                       name="startDate"
                                       th:value="*{startDate}"
                                       oninput="onInputText('errorStartDate')"
                                >

                                <small class="" style="color: red"
                                       id="errorStartDate"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Ngày kết thúc</label>
                        <div class="col-sm-10">
                            <div id="end-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                                 inline="true">
                                <input placeholder="Choose start date" type="datetime-local"
                                       id="endDate"
                                       class="form-control"
                                       name="endDate"
                                       th:value="*{endDate}"
                                       oninput="onInputText('errorEndDate')"
                                >
                                <small class="" style="color: red"
                                       id="errorEndDate"></small>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex">
                        <div>
                            <button onclick="clickUpdate('voucherUpdate')" type="button" class="btn btn-dark"><i
                                    class="fa-solid fa-pen mr-1 px-4"></i>

                            </button>
                            <a href="/nova/voucher/page">
                                <button type="button" class="btn btn-warning"><i
                                        class="fa-solid fa-circle-left mr-1 px-4"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <script th:inline="javascript">

                        checkName = () => {
                            let isName = document.getElementById('name').value
                            if (isName.trim() === '') {
                                document.getElementById('errorName').innerHTML = `Chưa nhập tên`
                                return false;
                            }
                            return true;
                        }

                        checkQuantity = () => {
                            let isQuantity = document.getElementById('quantity').value
                            if (isQuantity.trim() === '') {
                                document.getElementById('errorQuantity').innerHTML = `Chưa nhập số lượng`
                                return false;
                            }
                            if (isQuantity < 0) {
                                document.getElementById('errorQuantity').innerHTML = `Số lượng lớn hơn 0`
                                return false;
                            }
                            if (isQuantity > 30) {
                                document.getElementById('errorQuantity').innerHTML = `Số lượng phiếu mua cao nhất là 30`
                                return false;
                            }
                            return true;
                        }
                        checkValue = () => {
                            let isValue = document.getElementById('value').value;
                            let minimumPrice = document.getElementById('minimumPrice').value;

                            if (isValue.trim() === '') {
                                document.getElementById('errorValue').innerHTML = `Chưa nhập số tiền giảm`;
                                return false;
                            }

                            if (isValue < 10000) {
                                document.getElementById('errorValue').innerHTML = `Số tiền giảm phải lớn hơn 10000đ`;
                                return false;
                            }

                            if (isValue !== '' && minimumPrice !== '' && parseFloat(isValue) >= parseFloat(minimumPrice)) {
                                document.getElementById('errorValue').innerHTML = 'Số tiền giảm phải nhỏ hơn giá tối thiểu.';
                                return false;
                            }

                            return true;
                        }

                        checkMinimumPrice = () => {
                            let isValue = document.getElementById('value').value;
                            let isMinimumPrice = document.getElementById('minimumPrice').value
                            if (isMinimumPrice.trim() === '') {
                                document.getElementById('errorMinimumPrice').innerHTML = `Chưa nhập giá tối thiểu`
                                return false;
                            }
                            if (isMinimumPrice < 100000) {
                                document.getElementById('errorMinimumPrice').innerHTML = `Giá trị lớn hơn 100000đ`
                                return false;
                            }
                            if (isValue !== '' && isMinimumPrice !== '' && parseFloat(isValue) >= parseFloat(isMinimumPrice)) {
                                document.getElementById('errorValue').innerHTML = 'Số tiền giảm phải nhỏ hơn giá tối thiểu.';
                                return false;
                            }
                            return true;
                        }

                        checkStartDate = () => {
                            let startDateInput = document.getElementById('startDate');
                            let errorStartDate = document.getElementById('errorStartDate');

                            let startDateValue = startDateInput.value.trim();
                            if (startDateValue === '') {
                                errorStartDate.innerHTML = `Chưa nhập ngày bắt đầu`;
                                return false;
                            }

                            errorStartDate.innerHTML = '';
                            return true;
                        }

                        checkEndDate = () => {
                            let endDateInput = document.getElementById('endDate');
                            let errorEndDate = document.getElementById('errorEndDate');

                            let endDateValue = endDateInput.value.trim();
                            if (endDateValue === '') {
                                errorEndDate.innerHTML = `Chưa nhập ngày kết thúc`;
                                return false;
                            }

                            let startDateValue = document.getElementById('startDate').value.trim();
                            let startDate = new Date(startDateValue);
                            let endDate = new Date(endDateValue);

                            if (endDate <= startDate) {
                                errorEndDate.innerHTML = `Ngày kết thúc phải lớn hơn ngày bắt đầu`;
                                return false;
                            }

                            errorEndDate.innerHTML = '';
                            return true;
                        }
                        validate = () => {
                            let isName = checkName();
                            let isQuantity = checkQuantity();
                            let isValue = checkValue();
                            let isMinimumPrice = checkMinimumPrice()
                            let isStartDate = checkStartDate()
                            let isEndDate = checkEndDate()
                            if (isName === true && isQuantity === true && isValue === true && isMinimumPrice === true && isStartDate === true && isEndDate === true) {
                                return true;
                            }
                        }
                        clickUpdate = (idForm) => {
                            if (validate()) {
                                swal({
                                    title: "Sửa dữ liệu",
                                    text: "Bạn có muốn sửa dữ liệu không ?",
                                    icon: "warning",
                                    buttons: ["Không", "Có"],
                                    dangerMode: true,
                                    closeOnClickOutside: false,
                                }).then((update) => {
                                    if (update) {
                                        document.getElementById(idForm).submit()
                                    }
                                });
                            }
                        }
                    </script>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>