<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
  <meta charset="UTF-8">
  <title>Payment Method Management</title>
</head>
<body>
<div layout:fragment="content">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong>Voucher</strong>
      </div>
      <div class="card-body card-block">
        <form id="voucherUpdate" th:object="${voucher}" th:action="@{/nova/voucher/update/{id}(id=${voucher.id})}" method="post" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="code" class=" form-control-label">Code</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="code" th:field="*{code}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="name" class=" form-control-label">Name</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="text" id="name" th:field="*{name}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="quantity" class=" form-control-label">Quantity</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="quantity" th:field="*{quantity}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label class=" form-control-label">Type</label>
            </div>
            <div class="col-12 col-md-9">
              <div class="form-check-inline form-check">
                <label for="type1" class="form-check-label ">
                  <input type="radio" id="type1" th:field="*{type}" value="true" class="form-check-input">Giảm tiền mặt
                </label>
                <label for="type2" class="form-check-label ">
                  <input type="radio" id="type2" th:field="*{type}" value="false" class="form-check-input">Giảm phần trăm
                </label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="value" class=" form-control-label">Value</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="value" th:field="*{value}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="minimumPrice" class=" form-control-label">Minimum price</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="minimumPrice" th:field="*{minimumPrice}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('minimumPrice')}" th:errors="*{minimumPrice}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="maximumDiscount" class=" form-control-label">Maximum discount</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="number" id="maximumDiscount" th:field="*{maximumDiscount}" class="form-control">
              <br>
              <div class="alert alert-warning" th:if="${#fields.hasErrors('maximumDiscount')}" th:errors="*{maximumDiscount}"></div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="startDate" class=" form-control-label">Start date</label>
            </div>
            <div class="col-12 col-md-9">
              <div id="start-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                   inline="true">
                <input placeholder="Choose start date" type="datetime-local" id="startDate" class="form-control"
                       th:field="*{startDate}">
                <br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="endDate" class=" form-control-label">End date</label>
            </div>
            <div class="col-12 col-md-9">
              <div id="end-date-picker" class="md-form md-outline input-with-post-icon datepicker"
                   inline="true">
                <input placeholder="Choose end date" type="datetime-local" id="endDate" class="form-control"
                       th:field="*{endDate}">
                <br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-footer">
              <button onclick="clickUpdate('voucherUpdate')" type="button" class="btn btn-info"><i class="fa-solid fa-eye mr-1"></i>
                UPDATE
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>