.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}

.w-90 {
    width: 90%;
}

.w-10 {
    width: 10%;
}

.link-option-admin {
    text-align: center;
}

.link-option-admin:hover {
    background-color: #272c33;
    color: white !important;
    text-align: center;
}

.border-search {
    background-color: #f0f3f5 !important;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5px;
}

.background-option-admin {
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.background-option-admin:hover {
    background-color: white;
    color: black !important;
    border-radius: 8px;
    transition: 0.4s all;
}

.border-link-option-admin {
    padding: 10px;
}

