/*
 *  © 2023 Nyaruko166
 */

.payment-info {
    background: blue;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.product-details {
    padding: 10px;
}

body {
    background: #eee;
}

.cart {
    background: #fff;
}

.p-about {
    font-size: 12px;
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
    font-weight: 400;
    font-size: 10px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}

label.radio input:checked + span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
}

.credit-inputs {
    background: rgb(102, 102, 221);
    color: #fff !important;
    border-color: rgb(102, 102, 221);
}

.credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
}

.credit-card-label {
    font-size: 9px;
    font-weight: 300;
}

.form-control.credit-inputs:focus {
    background: rgb(102, 102, 221);
    border: rgb(102, 102, 221);
}

.line {
    border-bottom: 1px solid rgb(102, 102, 221);
}

.information span {
    font-size: 12px;
    font-weight: 500;
}

.information {
    margin-bottom: 5px;
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
    font-size: 11px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader {
    width: 600px;
}

#result {
    text-align: center;
    font-size: 1.5rem;
}

#collapseExample {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    z-index: 1;
}

.trash > i {
    padding: 5px;
}

.trash > i:hover {
    border-radius: 0.25rem;
    background-color: red;
}

/** Add a black background color to the top navigation **/
.topnav {
    /*background-color: #333;*/
    border-radius: 5px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    background-color: #0f0f0f;
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin-top: 12px;
    padding: .375rem .75rem;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.w3-input {
    text-align: right;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 3px solid #ccc;
    width: 150px
}

/* =============================================
* RADIO BUTTONS
=============================================== */

#radios label {
    cursor: pointer;
    position: relative;
}

#radios label + label {
    margin-left: 15px;
}

input[type="radio"] {
    opacity: 0; /* hidden but still tabable */
    position: absolute;
}

input[type="radio"] + span {
    font-family: 'Material Icons';
    color: #B3CEFB;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

input[type="radio"]:checked + span {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

input[type="radio"]:focus + span {
    color: #fff;
}

/* ================ TOOLTIPS ================= */

#radios label:hover::before {
    content: attr(for);
    font-family: Roboto, -apple-system, sans-serif;
    text-transform: capitalize;
    font-size: 11px;
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #323232;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    display: block;
}

#radios {
    text-align: center;
    margin: 0 auto 5px;
}

.container {
    margin: 0 auto;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

/* Styling for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}


