<!--
  ~  © 2023 Nyaruko166
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${err}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p th:text="${err}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <h5 style="font-weight: bold">BÁN HÀNG</h5>
    </div>
    <div class="container mt-4 p-3 rounded cart">
        <div class="row">
            <div class="col-7">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="product-details" style="padding: 0">
                            <div class="topnav">
                                <a th:each="y:${lstBill}" class="border border-3 rounded"
                                   th:href="${'/nova/pos?billId='+y.billId}" th:text="${'Hoá Đơn '+ y.billIdPP()}"></a>
                                <div style="float: right; margin-top: 12px">
                                    <button onclick="location.href='/nova/pos/removeBill'" class="btn btn-dark"
                                            type="button" data-toggle="tooltip" data-placement="top"
                                            title="Huỷ hoá đơn hiện tại">
                                        <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
                                    </button>
                                    <button onclick="location.href='/nova/pos/newBill'" type="button"
                                            class="btn btn-dark" data-toggle="tooltip" data-placement="top"
                                            title="Tạo hoá đơn mới"><i
                                            class="fa-regular fa-square-plus" style="color: #ffffff;"></i></button>
                                    <button onclick="init()" class="btn btn-dark" type="button" data-toggle="collapse"
                                            data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample" id="qr-toggle"
                                    >
                                        <i class="fa-solid fa-qrcode" style="color: #ffffff;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-0" th:text="'Hoá đơn ' + ${session.posBill.billIdPP()}"></h6>
                        <div id="output">
                            <div class="d-flex justify-content-between"><span
                                    th:text="${'Có ' + lstCart.size() + ' sản phẩm trong giỏ hàng'}"></span>
                                <!--                                <div class="d-flex flex-row align-items-center"><span-->
                                <!--                                        class="text-black-50">Sort by:</span>-->
                                <!--                                    <div class="price ml-2"><span class="mr-1">price</span><i-->
                                <!--                                            class="fa fa-angle-down"></i>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>

                            <div th:each="x:${lstCart}"
                                 class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                                <div class="d-flex flex-row"><img class="rounded"
                                                                  th:src="@{'/image/product/'+${x.idSP}}"
                                                                  width="40">
                                    <div class="ml-2"><span th:text="${x.name}"
                                                            class="font-weight-bold d-block"></span><span
                                            class="spec" th:text="${x.fieldCombine()}"></span></div>
                                </div>
                                <div class="d-flex flex-row align-items-center"><input
                                        style="width: 40px; box-sizing: border-box;border: none;border-bottom: 2px solid grey;
text-align: right"
                                        type="text"
                                        th:value="${x.qty}"
                                        th:id="${x.codeCtsp}"
                                        th:name="${x.qty}"
                                        onfocusout="updateCart(this)"
                                        oninput="keepOnlyNumbers(event)"
                                        class="d-block"></input><span
                                        th:text="${x.calTotalPrice() + ' VNĐ'}"
                                        class="d-block ml-5 font-weight-bold"></span>
                                    <a th:href="@{'/nova/pos/remove/' + ${x.codeCtsp}}" class="trash"><i
                                            class="fa fa-trash-o ml-3 text-black-50"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div id="output_checkout">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="mb-0">Tổng hoá đơn</h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                                    data-target="#exampleModalCenterProduct">
                                                <i class="fa-solid fa-shirt" style="color: #ffffff"></i>
                                            </button>
                                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                                    data-target="#exampleModalCenter">
                                                <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li th:if="${tempBill.customerName}"
                                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Tên Khách Hàng:
                                            <span th:text="${tempBill.customerName}"></span>
                                        </li>
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Mã Hoá Đơn:
                                            <span id="billCode" th:text="${tempBill.billCode}"></span>
                                        </li>
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Tổng Tiền:
                                            <span th:text="${tempBill.totalCartPrice != null} ? ${tempBill.totalCartPrice} +' VNĐ' : '0' +' VNĐ'"></span>
                                        </li>
                                        <!--                                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">-->
                                        <!--                                            Shipping-->
                                        <!--                                            <span>Gratis</span>-->
                                        <!--                                        </li>-->
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Tiền khách phải trả:
                                            <span id="khachPhaiTra"
                                                  th:text="${tempBill.totalCartPrice != null} ? ${tempBill.totalCartPrice} +' VNĐ' : '0' +' VNĐ'"></span>
                                        </li>
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Tiền khách đưa:
                                            <input id="khachDua" class="w3-input" oninput="calCashBack()"
                                                   th:value="0"></input>
                                        </li>
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                            Tiền thừa trả khách:
                                            <span id="tienThua">0 VNĐ</span>
                                        </li>
                                        <!--                                        <li-->
                                        <!--                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">-->
                                        <!--                                            <div>-->
                                        <!--                                                <strong>Tổng tiền</strong>-->
                                        <!--                                                <strong>-->
                                        <!--                                                    <p class="mb-0">(including VAT)</p>-->
                                        <!--                                                </strong>-->
                                        <!--                                            </div>-->
                                        <!--                                            <span><strong-->
                                        <!--                                                    th:text="${tempBill.totalCartPrice != null} ? ${tempBill.totalCartPrice} +' VNĐ' : '0' +' VNĐ'"></strong></span>-->
                                        <!--                                        </li>-->
                                    </ul>
                                    <hr>
                                    <div id="radios">
                                        <label for="pos" class="material-icons">
                                            <input type="radio" name="mode" id="pos" value="pos" checked/>
                                            <span><i class="fa-solid fa-cash-register"></i></span>
                                        </label>
                                        <label for="vietqr" class="material-icons">
                                            <input type="radio" name="mode" id="vietqr" value="vietqr"/>
                                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                                        </label>
                                        <!--                                        <label for="walking" class="material-icons">-->
                                        <!--                                            <input type="radio" name="mode" id="walking" value="walking"/>-->
                                        <!--                                            <span>&#xE536;</span>-->
                                        <!--                                        </label>-->
                                    </div>
                                    <button type="button" class="btn btn-dark btn-lg btn-block" onclick="thanhToan()">
                                        Thanh Toán
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup content -->
    <div id="imagePopup" class="popup">
        <!-- Close button -->
        <span onclick="closeImagePopup()"
              style="cursor: pointer; position: absolute; top: 10px; right: 10px;">&times;</span>
        <!-- Image container -->
        <img id="popupImage" src="" alt="Popup Image" style="max-width: 100%; max-height: 80vh;">
        <hr>
        <div class="container text-center">
            <button class="btn btn-dark">Xác nhận</button>
        </div>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay" onclick="closeImagePopup()"></div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tìm kiếm khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-inline" style="text-align:center;">
                                <input id="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                                       aria-label="Search" oninput="searchAndReplace()"
                                       th:value="${keyword} == null ? '' : ${keyword}">
                                <!--                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="searchAndReplace()">Search-->
                                <!--                            </button>-->
                            </div>
                        </div>
                    </div>
                    <div id="modal_replace">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Product -->
    <div class="modal fade" id="exampleModalCenterProduct" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitleProduct">Tìm kiếm sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <input id="keywordProduct" class="form-control mr-sm-2" type="search"
                                       placeholder="Search"
                                       aria-label="Search" oninput="searchAndReplaceProduct()"
                                       th:value="${keywordProduct} == null ? '' : ${keywordProduct}">
                                <!--                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="searchAndReplace()">Search-->
                                <!--                            </button>-->
                            </div>
                        </div>
                    </div>
                    <div id="modal_product_replace">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <main>
                <div id="reader"></div>
                <div id="result"></div>
            </main>
        </div>
        <script th:inline="javascript" th:src="@{/admin/assets/js/pos.js}"></script>
    </div>
</div>
</body>
</html>