<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>CẬP NHẬT KIỂU DÁNG</strong>
            </div>
            <div class="card-body card-block">
                <form id="formUpdate" th:object="${form}" th:action="@{/nova/form/update/{id}(id=${form.id})}" method="post"
                      class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label class="font-weight-bold  form-control-label">Tên kiểu</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="name" th:field="*{name}" class="form-control"
                                                            oninput="onInputText('errorName')">
                            <div class="" style="color: red"
                                   id="errorName" ></div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button onclick="clickUpdate('formUpdate', 'name', 'errorName', 'tên kiểu dáng')" type="button" class="btn btn-dark"><i class="fa-solid fa-pen px-4"></i>
                        </button>
                        <a href="/nova/form/page">
                            <button type="button" class="btn btn-warning"><i
                                    class="fa-solid fa-circle-left px-4"></i>
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
